<div class="small-12 medium-12 column">
  <div class="medium-3 column faq_sidebar show-for-medium-up">
    <%= link_to t('backend.back'), registration_lobbies_path , :class=> "button tiny radius" %>
    <% @questions.each do |question| %>
      <div><%= link_to  "#{question.position}. #{question.title}",  "#faq_#{question.position}"%></div>
    <% end %>
  </div>
  <div class="small-12 medium-9 column faq_box">
    <h1><%= t('backend.faq.questions') %></h1>

    <% @questions.each do |question| %>
      <div class="faq_question_container" id='faq_<%= question.position %>'>
        <h2 class="faq_question"><%= question.position %>. <%= question.title %></h2>
        <%= question.answer.html_safe %>
      </div>
    <% end %>
  </div>
</div>
