<td>
  <h1><%= t('mailers.invalidate_organization.head1', lobby_name: @organization.fullname)%></h1>
  <p><%= t('mailers.invalidate_organization.text1', lobby_reference: @organization.id) %></p>
  <p><%= t('mailers.invalidate_organization.text2')%></p>
  <ul>
    <li><b><%= t('mailers.invalidate_organization.text3')%></b><%= @organization.fullname %></li>
    <li><b><%= t('mailers.invalidate_organization.text4')%></b><%= I18n.l @organization.invalidated_at, format: :long %></li>
  </ul>
</td>
