<td>
  <h1><%= t('mailers.create_organization.head1', lobby_name: @organization.try(:fullname))%></h1>
  <p><%= t('mailers.create_organization.head2', link: "<a href='https://tomadedecisiones.madrid.es'>https://tomadedecisiones.madrid.es</a>").html_safe%></p>
  <ul>
    <li><b><%= t('mailers.create_organization.text2') %></b><%= @organization.try(:fullname) %></li>
    <li><b><%= t('mailers.create_organization.text3') %></b><%= I18n.l @organization.try(:inscription_date), format: :short %></li>
    <li><b><%= t('mailers.create_organization.text1') %></b><%= @organization.try(:id)%></li>
  </ul>
  <p><%= t('mailers.create_organization.head3', link: "<a href='https://tomadedecisiones.madrid.es/users/sign_in'>https://tomadedecisiones.madrid.es/users/sign_in</a>").html_safe%></p>
  <ul>
    <li><b><%= t('mailers.create_organization.text4') %></b><%= @organization.try(:user).try(:email) %></li>
    <li><b><%= t('mailers.create_organization.text5') %></b><%= @organization.try(:user).try(:password) %></li>
  </ul>
  <p><%= t('mailers.create_organization.head4')%></p>
  <p><%= t('mailers.create_organization.text6').html_safe%></p>
  <p><%= t('mailers.create_organization.head5')%></p>
  <p><%= t('mailers.create_organization.text7').html_safe%></p>
</td>
