<div class="row">
    <div class="small-6 medium-8 column">
        <h1>
            <%= t('backend.preferences.role_view')%>
        </h1>
    </div>
</div>

<div class="row">
  <%= form_for :user, :url => { :action => :change_view } do |f| %> 
  <div class="small-3 medium-3 column">
    <%= f.select :role_view, options_for_select(@roles) %>
    <%= f.submit t('backend.manage_mails.update'), class: "button tiny radius success" %>
  </div>
  <% end %>
</div>