<%= f.fields_for :address, (Address.new if f.object.address.blank?) do |addr| %>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= addr.label :country, t('backend.identifying_data.country') %>
      <%= addr.select :country, options_for_select(options_for_countries, addr.object.country.blank? ? "ESPAÑA" : addr.object.country), { include_blank: true }  %>
      <%= form_field_errors(addr, :country) %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= addr.label :province, t('backend.identifying_data.province') %>
      <%= addr.select :province, options_for_select(options_for_provinces, addr.object.province.blank? ? "MADRID" : addr.object.province), { include_blank: true } %>
      <%= form_field_errors(addr, :province) %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= addr.label :town, t('backend.identifying_data.town') %>
      <%= addr.text_field :town %>
      <%= form_field_errors(addr, :town) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= addr.label :address_type, t('backend.identifying_data.address_type') %>
      <%= addr.select :address_type, options_for_select(options_for_road_types, addr.object.address_type.blank? ? "CALLE" : addr.object.address_type), { include_blank: true } %>
      <%= form_field_errors(addr, :address_type) %>
    </div>
    <div class="small-12 medium-8 columns">
      <%= addr.label :address, t('backend.identifying_data.address') %>
      <%= addr.text_field :address %>
      <%= form_field_errors(addr, :address) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= addr.label :address_number_type, t('backend.identifying_data.address_number_type') %>
      <%= addr.select :address_number_type, options_for_select(address_number_types, addr.object.address_number_type.blank? ? "Num" : addr.object.address_number_type), { include_blank: true } %>
      <%= form_field_errors(addr, :address_number_type) %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= addr.label :number, t('backend.identifying_data.number') %>
      <%= addr.text_field :number %>
      <%= form_field_errors(addr, :number) %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= addr.label :gateway, t('backend.identifying_data.gateway') %>
      <%= addr.text_field :gateway %>
      <%= form_field_errors(addr, :gateway) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= addr.label :stairs, t('backend.identifying_data.stairs') %>
      <%= addr.text_field :stairs %>
      <%= form_field_errors(addr, :stairs) %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= addr.label :floor, t('backend.identifying_data.floor') %>
      <%= addr.text_field :floor %>
      <%= form_field_errors(addr, :floor) %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= addr.label :door, t('backend.identifying_data.door') %>
      <%= addr.text_field :door %>
      <%= form_field_errors(addr, :door) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= addr.label :postal_code, t('backend.identifying_data.postal_code') %>
      <%= addr.text_field :postal_code %>
      <%= form_field_errors(addr, :postal_code) %>
    </div>
    <div class="small-12 medium-8 columns">
      <%= addr.label :email, t('backend.identifying_data.email') %>
      <%= addr.text_field :email %>
      <%= form_field_errors(addr, :email) %>
    </div>
  </div>
  <div class="row">   
    <div class="small-12 medium-12 columns">
      <%= addr.label :phones, t('backend.identifying_data.phones') %>
      <%= addr.text_field :phones, placeholder: t('backend.placeholder.phones') %>
      <%= form_field_errors(addr, :phones) %>
    </div>   
  </div>
<%end%>