<div class="row align-middle">
    <div class="small-12 column">
        <% type||= "active"%>
        <%= form_tag eval("#{type}_admin_notifications_path"), method: :get do %>
            <fieldset>
                <legend><%=t('backend.notification_filters.title')%></legend>
    
                <%= hidden_field_tag :order, params[:order] %>
                <div class="small-12 medium-6 columns">
                    <%= label_tag(:search_full_name, t("backend.notification_filters.full_name")) %>
                    <%= text_field_tag :search_full_name,params[:search_full_name], placeholder: t("backend.notification_filters.full_name"),  :maxlength => 100%>
                </div>
                <div class="small-12 medium-3 columns">
                    <%= label_tag(:search_id, t("backend.notification_filters.id")) %>
                    <%= number_field_tag :search_id,params[:search_id], placeholder: t("backend.notification_filters.id"), :maxlength => 10%>
                </div>
                <div class="small-12 medium-3 columns">
                    <%= label_tag(:search_type, t("backend.notification_filters.type")) %>
                    <%= select_tag :search_type, options_for_select(Notification.get_cod_tipos_array, params[:search_type]), include_blank: true %>
                </div>
                
                <div class="small-12 medium-3 columns">
                    <%= label_tag(:search_status_start_date, t("backend.notification_filters.status_start_date")) %>
                    <%= date_field_tag :search_status_start_date,params[:search_status_start_date], autocomplete: :off, placeholder: t("backend.notification_filters.status_start_date"), onchange: "validation_date(0)"%>
                </div>
                <div class="small-12 medium-3 columns">
                    <%= label_tag(:search_status_end_date, t("backend.notification_filters.status_end_date")) %>
                    <%= date_field_tag :search_status_end_date,params[:search_status_end_date], autocomplete: :off, placeholder: t("backend.notification_filters.status_end_date"), onchange: "validation_date(1)"%>
                </div>
                <div class="small-12 medium-3 columns">
                    <%= label_tag(:search_create_start_date, t("backend.notification_filters.create_start_date")) %>
                    <%= date_field_tag :search_create_start_date,params[:search_create_start_date], autocomplete: :off, placeholder: t("backend.notification_filters.create_start_date"), onchange: "validation_start_date(0)"%>
                </div>
                <div class="small-12 medium-3 columns">
                    <%= label_tag(:search_create_end_date, t("backend.notification_filters.create_end_date")) %>
                    <%= date_field_tag :search_create_end_date,params[:search_create_end_date], autocomplete: :off, placeholder: t("backend.notification_filters.create_end_date"), onchange: "validation_start_date(1)"%>
                </div>
                <div class="small-12 medium-6 columns">
                    <div class="row align-center-middle" style="margin-top: 30px;">
                        <div class="small-6 columns ">
                            <% [ t("backend.notification_filters.all"), t("backend.notification_filters.with_errors"), t("backend.notification_filters.without_errors") ].each do |theme| %>
                                <p><%= radio_button_tag 'errors_type', theme, params[:errors_type] == theme || params[:errors_type].blank? && theme == t("backend.notification_filters.all")  %><%= theme %></p>
                            <% end %>
                        </div>
                    </div>
                </div>

                <div class="small-12 medium-6 columns">
                    <%= label_tag(:search_status, t("backend.notification_filters.status")) %>
                    <%= select_tag :search_status, options_for_select(get_types_notification(type), params[:search_status]), include_blank: true %>
                </div>
            
                <div class="columns text-right">
                    <%= link_to t('main.form.reset'), eval("#{type}_admin_notifications_path"), class: 'expanded tiny radius button secondary' %>
                    <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
                </div>
            </fieldset>
            
        <% end %>
    </div>
</div>

<script>
$('.fdatepicker').fdatepicker({
  format: "<%= I18n.translate('datepicker-format') %>",
  language: "<%= I18n.locale %>",
  weekStart: 1
});

function validation_date(tipo) {
  var date_ini = $('#search_status_start_date').val();
  var date_fin = $('#search_status_end_date').val();
  if(tipo==0 && date_ini > date_fin && date_fin != "" && date_ini != "") {
    $('#search_status_end_date').val($('#search_status_start_date').val());
  }else if(tipo==1 && date_ini > date_fin && date_ini != "" && date_fin!=""){
    $('#search_status_start_date').val($('#search_status_end_date').val());
  }   
}

function validation_start_date(tipo){
  var date_start_ini = $('#search_create_start_date').val();
  var date_start_fin = $('#search_create_end_date').val();
  if(tipo==0 && date_start_ini > date_start_fin && date_start_fin != "" && date_start_ini != "") {
    $('#search_create_end_date').val($('#search_create_start_date').val());
  }else if(tipo==1 && date_start_ini > date_start_fin && date_start_ini != "" && date_start_fin!=""){
    $('#search_create_start_date').val($('#search_create_end_date').val());
  }  
}


</script>