<% type ||= "active" %>
<div class="row notifications-list">
  <div class="small-12 column">
    <h1><%=t('backend.notification_tabs.title')%></h1>
  </div>

  
</div>
<div class="small-12">
    <ul class="tabs"  style="border-bottom: 1px solid #004A83;">
    <li  class="tab-title <%= type == "active" ? "active" : "" %>">
        <%= link_to t('backend.notification_tabs.pending', num: get_num_active_notifications), active_admin_notifications_path %>
    </li>
    <li  class="tab-title <%= type == "historic" ? "active" : "" %>">
        <%= link_to t('backend.notification_tabs.historic'), historic_admin_notifications_path %>
    </li>
    </ul>

</div>
<%= render 'filter', type: type%>