<fieldset>
    <legend><%=t('backend.notification_tabs.notification_data')%></legend>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:id) %></strong></p>
            <p><%= notification.id.blank? ? "<br>".html_safe : notification.id %></p>
        </div>
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:full_name) %></strong></p>
            <p><%= notification.full_name.blank? ? "<br>".html_safe :  notification.full_name %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:type_action) %></strong></p>
            <p><%= notification.type_action.blank? ? "<br>".html_safe : notification.type_action %></p>
        </div>
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:status) %></strong></p>
            <p><%=  notification.status.blank? ? "<br>".html_safe : notification.status %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:status_date) %></strong></p>
            <p><%= notification.status_date.blank? ? "<br>".html_safe : notification.status_date %></p>
        </div>
         <div class="small-12 medium-6 columns">
            <p><strong><%= Notification.human_attribute_name(:created_at_convert) %></strong></p>
            <p><%= notification.created_at_convert.blank? ? "<br>".html_safe : notification.created_at_convert %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:errors_detected) %></strong></p>
            <p><%= notification.errors_detected.blank? ? "<br>".html_safe : notification.errors_detected.html_safe %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:reject_reasons) %></strong></p>
            <p><%= notification.reject_reasons.blank? ? "<br>".html_safe : notification.reject_reasons.html_safe %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:recover_reasons) %></strong></p>
            <p><%= notification.recover_reasons.blank? ? "<br>".html_safe : notification.recover_reasons.html_safe %></p>
        </div>
    </div>
     <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= Notification.human_attribute_name(:observations) %></strong></p>
            <p><%= notification.observations.blank? ? "<br>".html_safe : notification.observations.html_safe %></p>
        </div>
    </div>
</fieldset>