<%= render 'menu_tabs', type: "active"%>

<div class="tabs-content">
  <div class="small-12 column content active">
    <div class=" small-12 medium-4 column">
      <%= link_to t('backend.notification_tabs.download_csv'), active_admin_notifications_path(:csv, params), class: "button radius" %>
    </div>
    <%= render 'list_notifications', collection: @notifications%>
  </div> 
</div>