<%=
  CSV.generate(col_sep: ';', encoding: 'ISO-8859-1') do |csv|
    csv << Notification.get_columns.map {|column| Notification.human_attribute_name(column)}

    @notifications_unpagined.each do |notification|
      csv << Notification.get_columns.map {|column| notification.try(column) }
    end
  end.html_safe
%>