<div class="row">
    <div class="small-12 medium-6 columns" >
        <%= link_to t('backend.back'), [t('backend.notification_status.pending'),t('backend.notification_status.recover')].include?(@notification.status) ? active_admin_notifications_path :  historic_admin_notifications_path, class: "button tiny radius" %>
    </div>
</div>
<h1 class="title-l"><%=t('backend.notification_tabs.name')%> - <%= @notification.try(:full_name) %></h1>

<%= render "notification_show", notification: @notification%>
<%= render "organization_show", organization: @organization%>