<div class="small-12 column">
  <p><%= t "accessibility.description.part1" %></p>

  <p><%= t "accessibility.description.part2" %></p>

  <ul>
    <li><%= t "accessibility.features.alternative" %></li>
    <li><%= t "accessibility.features.subtitles_html" %></li>
    <li><%= t "accessibility.features.simple_contents_html" %></li>
    <li><%= t "accessibility.features.movility_html" %></li>
  </ul>

  <h3><%= t "accessibility.keyboard.title" %></h3>

  <p><%= t "accessibility.keyboard.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <caption class="show-for-sr"><%= t "accessibility.keyboard.navigation.title" %></caption>
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= t "accessibility.keyboard.navigation.key" %></th>
          <th scope="col"><%= t "accessibility.keyboard.navigation.page" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">0</td>
          <td><%= t "accessibility.keyboard.navigation.home" %></td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td><%= t "accessibility.keyboard.navigation.agendas" %></td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td><%= t "accessibility.keyboard.navigation.lobbies" %></td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td><%= t "accessibility.keyboard.navigation.normative_fingerprint" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p><%= t "accessibility.keyboard.shortcuts.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <caption class="show-for-sr"><%= t "accessibility.keyboard.shortcuts.description" %></caption>
      <thead>
        <tr>
          <th scope="col"><%= t "accessibility.keyboard.shortcuts.navigator" %></th>
          <th scope="col"><%= t "accessibility.keyboard.shortcuts.shorcut" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Explorer</td>
          <td><%= t "accessibility.keyboard.shortcuts.explorer_shortcut" %></td>
        </tr>
        <tr>
          <td>Firefox</td>
          <td><%= t "accessibility.keyboard.shortcuts.firefox_shortcut" %></td>
        </tr>
        <tr>
          <td>Chrome</td>
          <td><%= t "accessibility.keyboard.shortcuts.chrome_shortcut" %></td>
        </tr>
        <tr>
          <td>Safari</td>
          <td><%= t "accessibility.keyboard.shortcuts.safari_shortcut" %></td>
        </tr>
      </tbody>
    </table>
  </div>

   <p><%= t "accessibility.keyboard.tinymce.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <caption class="show-for-sr"><%= t "accessibility.keyboard.tynimce.title" %></caption>
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= t "accessibility.keyboard.shortcuts.shorcutPC" %></th>
          <th scope="col" class="text-center"><%= t "accessibility.keyboard.shortcuts.shorcutMAC" %></th>
          <th scope="col"><%= t "accessibility.keyboard.action" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Ctrl+B</td>
          <td class="text-center">CMD+B</td>
          <td>Negrita</td>
        </tr> 
        <tr>
          <td class="text-center">Ctrl+I</td>
          <td class="text-center">CMD+I</td>
          <td>Itálica</td>
        </tr>
        <tr>
          <td class="text-center">Ctrl+U</td>
          <td class="text-center">CMD+U</td>
          <td>Subrayado</td>
        </tr>
        <tr>
          <td class="text-center">Ctrl+A</td>
          <td class="text-center">CMD+A</td>
          <td>Seleccionar todo</td>
        </tr>
        <tr>
          <td class="text-center">Ctrl+Y/Ctrl+Shift+Z</td>
          <td class="text-center">CMD+Y/CMD+Shift+Z</td>
          <td>Rehacer</td>
        </tr>
        <tr>
          <td class="text-center">Ctrl+Z</td>
          <td class="text-center">CMD+Z</td>
          <td>Deshacer</td>
        </tr>
        <tr>
          <td class="text-center">Alt+Shift+1</td>
          <td class="text-center">Crtl+Opcion+1</td>
          <td>Encabezado 1</td>
        </tr> 
        <tr>
          <td class="text-center">Alt+Shift+2</td>
          <td class="text-center">Crtl+Opcion+12/td>
          <td>Encabezado 2</td>
        </tr> 
        <tr>
          <td class="text-center">Alt+Shift+3</td>
          <td class="text-center">Crtl+Opcion+3</td>
          <td>Encabezado 3</td>
        </tr> 
        <tr>
          <td class="text-center">Alt+Shift+4</td>
          <td class="text-center">Crtl+Opcion+4</td>
          <td>Encabezado 4</td>
        </tr> 
        <tr>
          <td class="text-center">Alt+Shift+5</td>
          <td class="text-center">Crtl+Opcion+5</td>
          <td>Encabezado 5</td>
        </tr> 
        <tr>
          <td class="text-center">Alt+Shift+6</td>
          <td class="text-center">Crtl+Opcion+6</td>
          <td>Encabezado 6</td>
        </tr>   
         <tr>
          <td class="text-center">Alt+Shift+7</td>
          <td class="text-center">Crtl+Opcion+7</td>
          <td>Párrafo</td>
        </tr>
        <tr>
          <td class="text-center">Ctrl+K</td>
          <td class="text-center">CMD+K</td>
          <td>Hipervínculo</td>
        </tr>         
      </tbody>
    </table>
  </div>

  <h3><%= t "accessibility.text_size.title" %></h3>
  <p><%= t "accessibility.text_size.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <thead>
        <tr>
          <th scope="col"><%= t "accessibility.keyboard.shortcuts.navigator" %></th>
          <th scope="col"><%= t "accessibility.text_size.action_to_do" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Explorer</td>
          <td><%= t "accessibility.text_size.explorer" %></td>
        </tr>
        <tr>
          <td>Firefox</td>
          <td><%= t "accessibility.text_size.firefox" %></td>
        </tr>
        <tr>
          <td>Chrome</td>
          <td><%= t "accessibility.text_size.chrome" %></td>
        </tr>
        <tr>
          <td>Safari</td>
          <td><%= t "accessibility.text_size.safari" %></td>
        </tr>
        <tr>
          <td>Opera</td>
          <td><%= t "accessibility.text_size.opera" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p><%= t "accessibility.text_size.commands.title" %></p>

  <ul>
    <li><%= t "accessibility.text_size.commands.increase_html" %></li>
    <li><%= t "accessibility.text_size.commands.decrease_html" %></li>
  </ul>

  <h3><%= t "accessibility.compatibility.title" %></h3>

  <p><%= t "accessibility.compatibility.description1_html" %></p>
  <p><%= t "accessibility.compatibility.description2" %></p>

  <p><%= image_tag "logo_wcag1AA.gif", alt: "Logo accesbilidad AA" %></p>

  <h3><%= t "accessibility.suggestions.title" %></h3>
  <p><%= t "accessibility.suggestions.description_html", link: "https://www-s.munimadrid.es/SYR_003_WACiudadanos/iniciar.do?procedimiento=200" %></p>
</div>