
<div class="nested-fields small-12 columns">
  <div class="row">
    <div class="small-12 columns">
      <%= f.hidden_field :_destroy %>
      <%# if f.object.file.present? && f.object.errors.empty? %>
        <%=f.object.file_file_name%>
       
      <%# else %>
        <%= f.file_field :file, class: "attachment" %>
      <%# end %>
      <br>
      <br>
    </div>
  </div>
   <div class="row">
    <div class="small-auto columns ">
      <% if f.object.file.present? && f.object.errors.empty? %>
        <%= link_to t('backend.open_file'), f.object.file.url,
                                        class: "button tiny radius" %>

      <%# else %>
           <%#= link_to_remove_association t('backend.delete_attachment'), f,
                                     class: "button tiny radius alert" %>
      <%end%>
     
    </div>
  </div>
</div>
