<%= form_for [:admin, @organization, @agent], html: {class: 'organization-form'} do |f| %>
  <%= f.hidden_field :id %>

  <%= render '/shared/admin/error_messages', model: @agent, model_name: t("agent") %>

  <% if current_user.admin? %>
    <div class="small-12 columns">
      <%= label_tag :organization_name, t('backend.agents.organization') %>
      <%= text_field_tag :organization_name, @organization.name, disabled: true %>
    </div>
  <% end %>

  <div class="small-12 medium-4 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= form_field_errors(f, :name) %>
  </div>

  <div class="small-12 medium-4 columns">
    <%= f.label :first_surname %>
    <%= f.text_field :first_surname %>
    <%= form_field_errors(f, :first_surname) %>
  </div>

  <div class="small-12 medium-4 columns">
    <%= f.label :second_surname %>
    <%= f.text_field :second_surname %>
    <%= form_field_errors(f, :second_surname) %>
  </div>

  <div class="small-12 medium-6 columns">
    <%= f.label :from %>
    <%= f.date_field :from %>
    <%= form_field_errors(f, :from) %>
  </div>

  <div class="small-12 medium-6 columns">
    <%= f.label :to %>
    <%= f.date_field :to %>
    <%= form_field_errors(f, :to) %>
  </div>

  <div class="small-12 columns">
    <%= f.label :public_assignments %>
    <br />
    <%= f.text_area :public_assignments, class: 'mceNoEditor' %>
    <%= form_field_errors(f, :public_assignments) %>
  </div>

  <div>
    <hr>
    <div class="small-12 columns">
      <div class="row">
        <div class="small-1 columns">
          <%= f.check_box :allow_public_data %>
        </div>
        <div class="small-11 columns">
          <%= f.label :allow_public_data %>
        </div>
      </div>
      <br />
    </div>
    <div class="small-12 columns">
      <br>
      <%= form_field_errors(f, :allow_public_data) %>
    </div>
    <!--<div class="small-12 columns">
      <div class="small-12 columns">
        <%# if f.object.file_allow_data.present? %>
          <%#=f.object.file_allow_data_file_name%>
        <%# end %>

        <%#= f.file_field :file_allow_data, class: "attachment" %>

        <%#= form_field_errors(f, :file_allow_data) %>

        <%# if f.object.file_allow_data.present? && f.object.errors.empty? %>
            <%#= link_to t('backend.open_file'), f.object.file_allow_data.url, class: "button tiny radius" %>
        <%#end%>
      </div>
    </div>-->
  </div> 

  <div>
    <hr>
    <div class="small-12 columns">
      <%= f.label :attachments %>
      
      <br>
      <%= form_field_errors(f, :attachments) %>
      <div id="nested-agent-attachments" class="nested-attachments">
        <%= f.fields_for :attachments do |attachment| %>
          <%= render 'admin/agents/attachment_fields', f: attachment %>
        <%end %>
      </div>

      <%= link_to_add_association t('backend.agents.attachment.add_association'), f,
                                  :attachments,
                                  partial: "admin/agents/attachment_fields",
                                  id: "new-agent-attachment-link",
                                  class: "button tiny radius info",
                                  data: {
                                    association_insertion_node: "#nested-agent-attachments",
                                    association_insertion_method: "append"
                                  } %> 

      <p><%= t('backend.agents.attachment.text1') %></p>
    </div>
    <br>
  </div>
  

  <div class="row">
    <hr>
    <div class="small-4 medium-6 large-8 column">
      &nbsp
    </div>
    <div class="small-4 medium-3 large-2 column">
      <%= submit_tag t('backend.save'), class: "button radius success right" %>
    </div>
  </div>

<% end %>