<div class="row agents-list">
  <div class="small-12 medium-8 column">
    <h1><%= t('agents') %> (<%= @agents.count %>)</h1>
  </div>

  <div class=" small-12 medium-4 column">
    <%= link_to t('backend.agents.new'),
              new_admin_organization_agent_path(@organization),
              class: "button radius warning right" if can? :create, Agent %>
  </div>
</div>

<div class="small-12">
  <table class="small-12">
    <thead>
      <tr>
        <th><%=t('agents')%></th>
        <th><%=t('backend.agents.from')%></th>
        <th><%=t('backend.agents.to')%></th>
        <th><%=t('public_data')%></th>
        <th class="right"><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%=t('agents')%></th>
        <th><%=t('backend.agents.from')%></th>
        <th><%=t('backend.agents.to')%></th>
        <th><%=t('public_data')%></th>
        <th class="right"><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <% @agents.each do |agent| %>
      <tr id="<%= dom_id(agent) %>" >
        <td>
          <%= link_to agent.list_fullname, admin_organization_agent_path(@organization, agent) %> 
        </td>
        <td>
          <%= agent.from %>
        </td>
        <td>
          <%= agent.to.present? ? agent.to : "-" %>
        </td>
        <td>
          <%= agent.allow_public_data ? "SI" : "NO" %>
        </td>
        <td class="right">
        <%#= link_to agent.file_allow_data.url,
                      title: "#{t('backend.agents.attachment.title_allow_data')}".html_safe do %>
         <!--<i class="step fi-archive size-24"></i>-->
          <%# end if agent.file_allow_data.present?  %>
          <%= link_to agent.attachments.first.file.url,
                      title: "#{t('backend.agents.attachment.title_button')}".html_safe do %>
            <i class="step fi-archive size-24"></i>
          <% end if agent.attachments.any? %>
          <%= link_to edit_admin_organization_agent_path(@organization, agent),
                      title: t('backend.edit') do %>
            <i class="step fi-page-edit size-24"></i>
          <% end if can? :edit, agent %>

          <%= link_to admin_organization_agent_path(@organization, agent),
                      method: :delete,
                      class: "delete-agent",
                      data: { confirm: t("backend.delete_confirm") },
                      title: t('backend.delete') do %>
            <i class="step fi-page-delete size-24"></i>
          <% end if can? :destroy, agent %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
