<div class="agents-show">
  <%= link_to t('backend.back'), admin_organization_agents_path , class: "button tiny radius" %>
  <h1 class="title-l"><%= @agent.fullname %></h1>

  <fieldset>
    <legend><%= t('backend.agents.show_data') %></legend>
      <div class="row">
        <div class="small-12 columns"><strong><%= t('backend.agents.organization') %></strong></div>
      </div>
      <div class="row">
        <div class="small-12 columns"><%= @agent.organization.fullname unless @agent.organization.blank?%></div>
      </div>
      <br>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <strong><%= t('backend.agents.from') %></strong>
        </div>
        <div class="small-12 medium-4 columns">
          <strong><%= t('backend.agents.to') %></strong>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-4 columns">
          <p><%= I18n.l(@agent.from, format: :short) unless @agent.from.blank? %></p>
        </div>
        <div class="small-12 medium-4 columns">
          <p><%= I18n.l(@agent.to, format: :short) unless @agent.to.blank? %></p>
        </div>
      </div>
      
      <br>
      <% unless @agent.public_assignments.blank?%>
      <div class="row">
        <div class="small-12 columns"><strong><%= t('backend.agents.public_assignments_only_show') %></strong></div>
      </div>
      <div class="row">
        <div class="small-12 columns"><%= @agent.public_assignments.html_safe  %></div>
      </div>
      <br>
      <%end%>
      <div class="row">
        <div class="small-12 columns"><strong><%= t('backend.agents.allow_public_data') %></strong></div>
      </div>
      <div class="row">
        <div class="small-12 columns"><%= @agent.allow_public_data ? "Sí" : "No" %></div>
      </div>
  </fieldset>

  <fieldset>
    <legend><%= t('backend.agents.attachments') %></legend>
      <% if !@agent.attachments.blank?%>
      <div class="row">
        <div class="small-12 columns"><strong><%= t('backend.agents.attachment.name') %></strong></div>
      </div>
      <% else%>
      <%=t('backend.agents.attachment.nothing')%>
      <%end
      @agent.attachments.each do |attach|%>
      
      <div class="row">
          <div class="small-4 columns">
            <%=attach.file_file_name%>
          </div>
          <div class="small-8 columns text-right">
            <%= link_to t('backend.open_file'), attach.file.url,
                                        class: "button tiny radius" %>
           </div>
        </div>
      <br>
      <%end%>
  </fieldset>

</div>
