<% if model.try(:address).try(:country).present? || model.try(:address).try(:province).present?%>
    <div class="row">
        <% if model.try(:address).try(:country).present? %>
            <div class="small-12 medium-6 columns">
                <p>
                    <strong><%= t('organizations.show.country') %> </strong>
                    <%= model.try(:address).try(:country) %>
                </p>
            </div>
        <% end %>
        <% if model.try(:address).try(:province).present? %>
            <div class="small-12 medium-6 columns">
                <p>
                    <strong><%= t('organizations.show.province') %> </strong>
                    <%= model.try(:address).try(:province) %>
                </p>
            </div>
        <% end %>
    </div>
    <br>
<%end%>

<%if model.try(:address).try(:town).present? || model.try(:address).try(:full_address).present?%>
    <div class="row">
        <% if model.try(:address).try(:town).present? %>
            <div class="small-12 medium-6 columns">
                <p>
                    <strong><%= t('organizations.show.town') %> </strong>
                    <%= model.try(:address).try(:town) %>
                </p>
            </div>
        <% end %>

        <% if model.try(:address).try(:full_address).present? %>
            <div class="small-12 medium-6 columns">
                <p>
                    <strong><%= t('organizations.show.address') %> </strong>
                    <%= @organization.is_person ? "-" : model.try(:address).try(:full_address) %>
                </p>
            </div>
        <% end %>
    </div>
    <br>
<%end%>

<%if model.try(:address).try(:full_number).present? || model.try(:address).try(:postal_code).present?%>
    <div class="row">
        <% if model.try(:address).try(:full_number).present? %>
            <div class="small-12 medium-6 columns">
                <p>
                    <strong><%= t('organizations.show.number') %> </strong>
                    <%= @organization.is_person ? "-" : model.try(:address).try(:full_number) %>
                </p>
            </div>
        <% end %>

        <% if model.try(:address).try(:postal_code).present? %>
            <div class="small-12 medium-6 columns">
                <p>
                    <strong><%= t('organizations.show.postal_code') %> </strong>
                    <%= model.try(:address).try(:postal_code) %>
                </p>
            </div>
        <% end %>
    </div>
    <br>
<%end%>