<li class="accordion-navigation active">
    <div class="accordion-title">
        <%= t('organizations.show.inscription_title') %>
        <span class="accordion-icon"></span>
    </div>
    <div class="content active">
        <% if organization.try(:inscription_date).present? %>
            <div class="row">
                <div class="small-12 medium-6 columns" style="float: left">
                    <p>
                        <strong><%= t('organizations.show.inscription_date') %></strong>
                        <%= I18n.l(organization.try(:inscription_date), format: :short) %>
                    </p>
                </div>
            </div>
            <br>
        <% end %>
        <%if organization.try(:modification_date).present? || organization.try(:canceled_at).present? %>
            <div class="row">
                <% if organization.try(:modification_date).present? %>
                    <div class="small-12 medium-6 columns" style="float: left">
                        <p>
                            <strong><%= t('organizations.show.updated_at') %></strong>
                            <%= I18n.l organization.try(:modification_date), format: "%d/%m/%Y" %>
                        </p>
                    </div>
                <% end %>
                <% if organization.try(:canceled_at).present? %>
                    <div class="small-12 medium-6 columns" style="float: left">
                        <p>
                            <strong><%= t('organizations.show.canceled_at') %></strong>
                            <%= I18n.l organization.try(:canceled_at), format: "%d/%m/%Y" if organization.canceled_at? %>
                        </p>
                    </div>
                <% end %>
            </div>
            <br>
        <% end %>
        <%if organization.try(:renovation_date).present? || organization.try(:expired_date).present? %>
            <div class="row">
                <% if organization.try(:renovation_date).present? %>
                    <div class="small-12 medium-6 columns" style="float: left">
                        <p>
                            <strong><%= t('organizations.show.renovation_date') %></strong>
                            <%= I18n.l organization.try(:renovation_date), format: "%d/%m/%Y" if organization.renovation_date? %>
                        </p>
                    </div>
                <% end %>
                <% if organization.try(:expired_date).present? %>
                    <div class="small-12 medium-6 columns" style="float: left">
                        <p>
                            <strong><%= t('organizations.show.expired_date') %></strong>
                            <%= I18n.l organization.try(:expired_date), format: "%d/%m/%Y" if !organization.try(:expired_date).blank? %>
                        </p>
                    </div>
                <% end %>
            </div>
            <br>
        <% end %>
    </div>
</li>