<li class="accordion-navigation active">
    <div class="accordion-title">
        <%= t('organizations.show.legal_representant_title_section') %>
        <span class="accordion-icon"></span>
    </div>
    <div class="content active">
        <div class="row">
            <% if organization.try(:legal_representant).try(:business_name).present? %>
                <div class="small-12 medium-6 columns" style="float: left">
                    <p>
                        <strong><%= t('organizations.show.legal_representant_name_section') %></strong>
                        <%= organization.try(:legal_representant).try(:business_name) %>
                    </p>
                </div>
            <% end %>
            <% if organization.try(:legal_representant).try(:name).present? %>
                <div class="small-12 medium-6 columns" style="float: left">
                    <p>
                        <strong><%= t('organizations.show.legal_representant_name_section') %></strong>
                        <%= organization.try(:legal_representant).try(:name) %>
                    </p>
                </div>
            <% end %>

            <% if organization.try(:legal_representant).try(:first_surname).present? %>
                <div class="small-12 medium-6 columns" style="float: left">
                    <p>
                        <strong><%= t('organizations.show.legal_representant_first_surname_section') %></strong>
                        <%= organization.try(:legal_representant).try(:first_surname) %>
                    </p>
                </div>
            <% end %>
        </div>
        <br>
        <div class="row">
            <% if organization.try(:legal_representant).try(:second_surname).present? %>
                <div class="small-12 medium-6 columns" style="float: left">
                    <p>
                        <strong><%= t('organizations.show.legal_representant_second_surname_section') %></strong>
                        <%= organization.try(:legal_representant).try(:second_surname) %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
</li>