<div class="small-12 columns mb20" style="<%="margin-top: 20px" if params[:tab_agend].to_s!= "calendar"%>">
    <div class="small-3 columns" style="padding: 3px;">
        <%=link_to t("calendar.month"), set_tab_agend_calendar(params, "month",@current_date_calendar, :select), class: "button #{"secondary" if !params[:tab_agend_calendar].blank? && params[:tab_agend_calendar].to_s!= "month"} calendar_buttons" %>
    </div>
    <div class="small-3 columns end" style="padding: 3px;">
        <%=link_to t("calendar.week"), set_tab_agend_calendar(params, "week",@current_date_calendar, :select), class: "button #{"secondary" if params[:tab_agend_calendar].to_s!= "week"} calendar_buttons"%>
    </div>
</div>
<%if params[:tab_agend_calendar].blank? || params[:tab_agend_calendar].to_s == "month"%>
    <%= form_tag current_path_with_query_params(params), method: :get do %>
    <div class="mb20">
        <%=hidden_field_tag :tab_agend, params[:tab_agend] %>
        <%=hidden_field_tag :tab_agend_calendar, params[:tab_agend_calendar] %>
        <div class="small-2 columns text-left calendar_columns">
            <%=link_to "<", set_previous_month( params, @current_agend_calendar, :select_calendar), class: "button", style: "padding: 15px;" %>
        </div>
        <div class="small-8 columns calendar_columns">
            <div class="small-4 columns calendar_columns">
                <%= select_month(@current_agend_calendar,{prefix: :select_calendar},{onchange: 'this.form.submit()'})%>
            </div>
            <div class="small-4 columns calendar_columns">
                <%= select_year(@current_agend_calendar, {prefix: :select_calendar,start_year: 2005},{onchange: 'this.form.submit()'})%>
            </div>
            <div class="small-4 columns calendar_columns">
                <%= link_to t("calendar.now"), set_now_calendar(params,:select_calendar), class: "button calendar_buttons", style: "padding: 15px;" %>
            </div>
        </div>
        <div class="small-2 columns calendar_columns text-right">
        <%=link_to ">", set_next_month(params, @current_agend_calendar, :select_calendar), class: "button", style: "padding: 15px;"  %>
        </div>
        <div class="small-12 columns" style="padding: 0px;">
            <table class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <%=get_week_first_monday%>
                    </tr>
                </thead>
                <tbody>
                    <%=get_days_month_range(@current_agend_calendar.beginning_of_month,@current_agend_calendar.end_of_month, events, params, @current_agend_calendar, :select_calendar, true)%>
                </tbody>
            </table>
        </div>
    </div>
    <%end%>
<%elsif params[:tab_agend_calendar].to_s== "week"%>
    <%= form_tag current_path_with_query_params(params), method: :get do %>
    <div class="mb20">
        <%=hidden_field_tag :tab_agend, params[:tab_agend] %>
        <%=hidden_field_tag :tab_agend_calendar, params[:tab_agend_calendar] %>
        <div class="small-2 columns text-left calendar_columns">
            <%=link_to "<", set_previous_week( params, @current_agend_calendar, :select_calendar), class: "button", style: "padding: 15px;" %>
        </div>
        <div class="small-8 columns calendar_columns">
            <div class="small-4 columns calendar_columns">
                <%= select_month(@current_agend_calendar,{prefix: :select_calendar},{onchange: 'this.form.submit()'})%>
            </div>
            <div class="small-4 columns calendar_columns">
                <%= select_year(@current_agend_calendar, {prefix: :select_calendar,start_year: 2005},{onchange: 'this.form.submit()'})%>
            </div>
            <div class="small-4 columns calendar_columns">
                <%= link_to t("calendar.now"), set_now_calendar_week(params,:select_calendar), class: "button calendar_buttons", style: "padding: 15px;" %>
            </div>
        </div>
        <div class="small-2 columns calendar_columns text-right">
        <%=link_to ">", set_next_week(params, @current_agend_calendar, :select_calendar), class: "button", style: "padding: 15px;"  %>
        </div>
        <div class="small-12 columns" style="padding: 0px;">
            <table class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <%=get_week_first_monday_with_hour(@current_agend_calendar)%>
                    </tr>
                </thead>
                <tbody>
                    <%=get_days_week_range(events, params, @current_agend_calendar, :select_calendar)%>
                </tbody>
            </table>
        </div>
    </div>
    <%end%>
<%end%>