<div class="small-12 large-8 large-ofsset-1 columns mb40">  
  <div class="small-12 columns tools">
    <div class="mb20">
      <%= t('main.get_updates')%><a id= "atom_link" href="<%= current_url(format: :atom)%>"><span class="icon icon__feed"></span> feed</a>
      <%= export_link(current_url(format: :csv)) %>
      <%= pdf_visitors_link(current_url({})) %>
    </div>
  </div>
</div>