<div class="small-12 large-4 columns">
  <p class="mb40"><%= t('main.form.title')%></p>
  <%= form_tag visitors_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>
    <%= hidden_field_tag :calendar, params[:calendar] %>
    <div class="mb20">
      <%= label_tag :keyword, t('main.form.main_keyword'), class: 'title-s' %>
      <%= text_field_tag :keyword, params[:keyword], placeholder: t('main.form.keyword') %>
    </div>
    <div class="mb20">
      <%= label_tag :holder, t('main.form.holder'), class: 'title-s' %>
      <%= select_tag :holder, options_for_select(@holders.try{|x| x.map{|holder| [holder.full_name_comma_with_active, holder.id]}},params[:holder]),prompt: t('main.form.any'), class: 'dropdown'  %>
    </div>
    <b><%= t('main.form.date') %></b>
    <div class="mb20">
      <div class="small-6 columns" style="padding:5px">
        <%= label_tag :from, t('main.form.fromdate'), class: 'title-s' %>
        <%= date_field_tag :from,params[:from], class: 'title-s'%>
      </div>
      <div class="small-6 columns" style="padding:5px">
        <%= label_tag :to, t('main.form.todate'), class: 'title-s' %>
        <%= date_field_tag :to,params[:to] , class: 'title-s'%>
      </div>
    </div>

    <div class="small-12 left mb20">
      <%= check_box_tag(:lobby_activity, value = "1", checked = check_filter_lobby_activity , id: "lobby_activity")%>
      <%= label_tag(:lobby_activity, t("backend.lobby_activity")) %>
    </div>
  
    <div class="mb20">
      <%= submit_tag t('main.form.search'), class: 'button', name: nil %>
      <%= submit_tag t('main.form.reset'),  class: 'button secondary', name: "reset" %>
    </div>
  <% end %>
</div>
