<%if !@paginated_events.blank?%>
    <div class="small-12 columns mb20">
        <%= page_entries_info @paginated_events %>
        <%= paginate @paginated_events %>
    </div>
    <% @paginated_events.each do |event|%>
        <%= render "visitors/event", event: event %>
    <% end %>
    <div class="small-12 columns mb20">
        <%= page_entries_info @paginated_events %>
        <%= paginate @paginated_events %>
    </div>
<%else%>
    <p>No hay eventos en el listado</p>
<%end%>