<%= form_tag current_path_with_query_params(params), method: :get do %>
<div class="mb20">
    <div class="small-2 columns text-left calendar_columns">
        <%=link_to "<", set_previous_month( params, @current_date_calendar, :select), class: "button", style: "padding: 15px;" %>
    </div>
    <div class="small-8 columns calendar_columns">
        <div class="small-4 columns calendar_columns">
            <%= select_month(@current_date_calendar,{prefix: :select},{onchange: 'this.form.submit()'})%>
        </div>
         <div class="small-4 columns calendar_columns">
            <%= select_year(@current_date_calendar, {prefix: :select,start_year: 2005},{onchange: 'this.form.submit()'})%>
        </div>
        <div class="small-4 columns calendar_columns">
            <%= link_to t("calendar.now"), set_now_calendar(params,:select), class: "button calendar_buttons", style: "padding: 15px;" %>
        </div>
    </div>
    <div class="small-2 columns calendar_columns text-right">
      <%=link_to ">", set_next_month(params, @current_date_calendar, :select), class: "button", style: "padding: 15px;"  %>
    </div>
    <div class="small-12 columns" style="padding: 0px">
        <table class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <%=get_week_first_monday%>
                </tr>
            </thead>
            <tbody>
                <%=get_days_month_range(@current_date_calendar.beginning_of_month,@current_date_calendar.end_of_month, events, params, @current_date_calendar, :select)%>
            </tbody>
        </table>
    </div>
</div>
<div class="mb20">
    <div class="small-3 columns" style="padding: 3px;">
        <%=link_to t("calendar.day"), set_tab_calendar(params, "day",@current_date_calendar, :select), class: "button #{"secondary" if params[:tab_calendar].to_s!= "day"} calendar_buttons" %>
    </div>
    <div class="small-3 columns" style="padding: 3px;">
        <%=link_to t("calendar.week"), set_tab_calendar(params, "week",@current_date_calendar, :select), class: "button #{"secondary" if params[:tab_calendar].to_s!= "week"} calendar_buttons"%>
    </div>
    <div class="small-3 columns" style="padding: 3px;">
        <%=link_to t("calendar.month"), set_tab_calendar(params, "month",@current_date_calendar, :select), class: "button #{"secondary" if params[:tab_calendar].to_s!= "month"} calendar_buttons"%>
    </div>
    <div class="small-3 columns" style="padding: 3px;">
        <%=link_to t("calendar.all"), set_tab_calendar(params, "all",@current_date_calendar, :select), class: "button #{"secondary" if !params[:tab_calendar].blank? && params[:tab_calendar].to_s!= "all"} calendar_buttons"%>
    </div>
</div>
<%end%>
