
<%= week_calendar(attribute: :scheduled, events: @events_calendar) do |date, appointments| %>
    <span class="date-str"><%= date.day %></span>  
      <% appointments.each do |appointment| %>
      <div>
          <%hour = "#{appointment.scheduled.to_s.split(" ")[1].split(":")[0].to_i}:#{appointment.scheduled.to_s.split(" ")[1].split(":")[1]}"%>
        
          <%= link_to "#{hour} #{appointment.title}", show_path(appointment), class:"event_link"%> <hr>
        </div>
      <% end %>
<% end %>

