<%= form_for(@notification_effect) do |f| %>
  <% if @notification_effect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification_effect.errors.count, "error") %> prohibited this notification_effect from being saved:</h2>

      <ul>
      <% @notification_effect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
