<p id="notice"><%= notice %></p>

<h1>Listing Notification Effects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_effects.each do |notification_effect| %>
      <tr>
        <td><%= link_to 'Show', notification_effect %></td>
        <td><%= link_to 'Edit', edit_notification_effect_path(notification_effect) %></td>
        <td><%= link_to 'Destroy', notification_effect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification effect', new_notification_effect_path %>
