<% content_for(:body_class) { 'visit-statistics' } %>

<div class="small-12 column statistics">
  <%= link_to t('backend.back'), registration_lobbies_path , :class=> "button tiny radius" %>

  <ul class="accordion">
    <li class="accordion-navigation active lobbies-categories">
      <div class="accordion-title">
        <%= t'statistics.category_lobbies' %>
      </div>
      <div class="content active">
        <table>
          <thead>
            <tr>
              <th style="width: 90%">
                <%= t'statistics.category' %>
              </th>
              <th class="text-center">
                <%= t'statistics.amount' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @lobbies_categories_old.each do |name , number| %>
            <tr>
                <%= name.mb_chars %>
              <td class="text-center">
                <%= number %>
              </td>
            </tr>
            <% end %>
            <% @lobbies_categories_new.each do |name , number| %>
            <tr>
                <%= name %>
              <td class="text-center">
                <%= number %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active lobbies-interests">
      <div class="accordion-title">
        <%= t'statistics.interest_lobbies' %>
      </div>
      <div class="content active">
        <table>
          <thead>
            <tr>
              <th style="width: 90%">
                <%= t'statistics.interest' %>
              </th>
              <th class="text-center">
                <%= t'statistics.amount' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%@lobbies_interests.each do |name , number| %>
              <tr>
                <td>
                  <%= name.mb_chars %>
                </td>
                <td class="text-center">
                  <%= number %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t'statistics.description_lobbies' %>
      </div>
      <div class="content active">
        <table>
          <tbody>
            <tr>
              <td colspan="4">
                <%#= t'statistics.total_lobbies' %>
                <strong>Cantidad de lobbies inscritos en activo</strong>

                <br />
                <span class="active-lobbies">
                  <%#= link_to @lobbies.count, lobbies_statistics_path(type: "1", title: t('statistics.total_lobbies')) %>
                  <%=@lobbies.count%>
                </span>
              </td>
            </tr>
            <tr>
                <!--<tr>
                  <td class="border-right">
                    <strong>
                      <%#= t'statistics.active_lobbies' %>
                    </strong>
                    <br />
                    <span class="self-employed-count">
                      <%#= link_to @active_lobbies.count, lobbies_statistics_path(type: "2", title: t('statistics.active_lobbies')) %>
                    </span>
                  </td>
                  <td class="border-right">
                    <strong>
                      <%#= t'statistics.expired_inscription' %>
                    </strong>
                    <br />
                    <span class="employed-count">
                      <%#= link_to @expired_lobbies.count, lobbies_statistics_path(type: "3", title: t('statistics.expired_inscription')) %>
                    </span>
                  </td>
                   <td class="border-right">
                    <strong>
                      <%#= t'statistics.inactive_lobbies' %>
                    </strong>
                    <br />
                    <span class="employed-count">
                      <%#= link_to @inactive_lobbies.count, lobbies_statistics_path(type: "4", title: t('statistics.inactive_lobbies')) %>
                    </span>
                  </td>
                  <td>
                    
                  </td>
                </tr>-->
                <td class="border-right">
                  <strong>
                    <%= t'statistics.self_employed' %>
                  </strong>
                  <br />
                  <span class="self-employed-count">
                    <%#= link_to employee_lobbies_count(@lobbies).count, lobbies_statistics_path(type: "5", title: t('statistics.self_employed'))  %>
                    <%=employee_lobbies_count(@lobbies).count%>
                  </span>
                </td>
                <td class="border-right">
                  <strong>
                    <%= t'statistics.employed' %>
                  </strong>
                  <br />
                  <span class="employed-count">
                    <%#= link_to self_employed_lobbies_count(@lobbies).count, lobbies_statistics_path(type: "6", title: t('statistics.employed')) %>
                    <%=self_employed_lobbies_count(@lobbies).count%>
                  </span>
                </td>
                  <td class="border-right">
                  <strong>
                    <%= t'statistics.self_employed_and_employed' %>
                  </strong>
                  <br />
                  <span class="employed-count">
                    <%#= link_to self_employed_and_employee_lobbies_count(@lobbies).count, lobbies_statistics_path(type: "7", title: t('statistics.self_employed_and_employed')) %>
                    <%=self_employed_and_employee_lobbies_count(@lobbies).count%>
                  </span>
                </td>
                <td>
                  <strong>
                    <%= t'statistics.agents' %>
                  </strong>
                  <br />
                  <span class="active-agents-count">
                    <%= @active_agent_count %>
                  </span>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t 'statistics.public_agendas' %>
      </div>
      <div class="content active">
        <table>
          <tbody>
            <tr>
              <td>
                <strong><%= t'statistics.lobby_events' %></strong>
              </td>
              <td class="text-center">
                <span class="lobby-activity">
                  <%= @event_lobby_activity %>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= t('statistics.total_events', year: @old_year) %></strong>
              </td>
              <td class="text-center">
                <span class="events-count">
                  <%= @events_count %>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= t'statistics.amount_public_agendas' %></strong>
              </td>
              <td class="text-center">
                <span class="holders-count">
                  <%= @holders_count %>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>

  </ul>
</div>
