<% content_for(:body_class) { 'registration-lobbies' } %>

<div class="row" data-equalizer>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to organizations_path do %>
        <%= image_tag 'homepage/query-documents.jpg', alt: t('registration_lobbies_index.registration_lobbies.registry_query_title') %>
        <div class="content">
          <p><strong><%= t('registration_lobbies_index.registration_lobbies.registry_query_title') %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t('registration_lobbies_index.registration_lobbies.registry_query_description') %></p>
      </div>
    </figure>
  </div>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to new_organization_path  do %>
        <%= image_tag 'homepage/drop-out.jpg', alt: t('registration_lobbies_index.subscribe_unsubscribe.subscribe_unsubscribe_title')%>
        <div class="content">
          <p><strong><%=t('registration_lobbies_index.new_lobby')%> | <%=t('registration_lobbies_index.reneue_lobby')%> | <%=t('registration_lobbies_index.change_lobby')%> | <%=t('registration_lobbies_index.delete_lobby')%></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t('registration_lobbies_index.subscribe_unsubscribe.subscribe_unsubscribe_description') %></p>
      </div>
    </figure>
  </div>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to code_of_conduct_path do %>
        <%= image_tag 'homepage/regulations.jpg', alt: t('registration_lobbies_index.normative.normative_title') %>
        <div class="content">
          <p><strong><%= t('registration_lobbies_index.normative.normative_title') %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t('registration_lobbies_index.normative.normative_description') %></p>
      </div>
    </figure>
  </div>
</div>

<div class="row" style="margin-top: 2rem" data-equalizer>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to faq_path  do %>
        <%= image_tag 'homepage/faq.jpg', alt: t('registration_lobbies_index.questions.question_title') %>
        <div class="content">
          <p><strong><%= t('registration_lobbies_index.questions.question_title') %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t('registration_lobbies_index.questions.question_description') %></p>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to statistics_path do %>
        <%= image_tag 'homepage/stats.jpg',  alt: t('registration_lobbies_index.stats.stats_title') %>
        <div class="content">
          <p><strong><%= t('registration_lobbies_index.stats.stats_title') %></strong></p>
        </div>
      <% end %>
      <div class="content"  style="padding-top: 0px;">
        <p><%= t('registration_lobbies_index.stats.stats_description') %></p>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to new_infringement_email_path do %>
        <%= image_tag 'homepage/breaches.jpg', alt: t('registration_lobbies_index.defaults_mailbox.mailbox_title') %>
        <div class="content">
          <p><strong><%= t('registration_lobbies_index.defaults_mailbox.mailbox_title') %></strong></p>
        </div>
      <% end %>
      <div class="content" style="padding-top: 0px;">
        <p><%= t('registration_lobbies_index.defaults_mailbox.mailbox_description') %></p>
      </div>
    </figure>
  </div>
</div>
<div class="row">
  <div class="small-12 column" style="border-top: 0.1rem solid #c5c5c5; margin-top: 2rem;padding-top: 1rem">
    <p><strong><%= t('registration_lobbies_index.generic_text_title') %></strong></p>
    <p><%= t('registration_lobbies_index.generic_text_block_first') %></p>
    <p><%= t('registration_lobbies_index.generic_text_block_second') %></p>
    <p><%= t('registration_lobbies_index.generic_text_block_third_html') %></p>
  </div>
</div>
