<div class="small-12 columns mb10 results-block">
  <p>
    <strong><%= collection.count%> <%= t('main.results')%></strong>
    <span class="keywords"><%= t('main.with_keyword')%>
      <strong><%= keyword %></strong>
      <a id="delete-keywords" href="#" class="right">
        <span class="icon icon__delete"><%= t('main.delete')%>
        </span>
      </a>
    </span>
  </p>
</div>
