<fieldset class="attachments">
    <legend><%= t('backend.attachments') %></legend>
    <% attachments.each do |attachment| %>
        <div class="row">
        <div class="small-12 columns">
            <p>
            <strong><%= t('backend.attachments') %></strong>
            <%= link_to attachment.title.blank? ? attachment.file_file_name : attachment.title , attachment.file.url, target: :blank %>
            </p>
        </div>
        <div class="small-12 columns">
            <p>
            <strong><%= t('backend.attachments_description') %></strong>
            <%= attachment.description.html_safe if attachment.description.present? %>
            </p>
        </div>
        <div class="small-12 columns">
            <p><%= attachment.public ? "Público" : "Privado" %></p>
        </div>
        </div>
        <hr />
    <% end %>
</fieldset>