<div id="<%= dom_id(f.object) %>" class="nested-fields">
  <div class="small-12">
    <%= f.hidden_field :id %>
    <div class="small-12 medium-8 columns">
      <%= f.label :name, t('backend.represented_entities.name') %>
      <% if f.object.id.present? || !f.object.try(:name).blank? %>
        <%= f.select :name, [[f.object.name, f.object.name]], class: "large-8 columns unique", prompt: t('backend.select') %>
      <% else %>
        <%= f.select :name, [], class: "large-8 columns unique", prompt: t('backend.select') %>
      <% end %>
    </div>

    <div class="small-6 medium-4 columns">
      <%= link_to_remove_association "Eliminar", f, class: "button right tiny radius alert link_to_remove_association" %>

    </div>

  </div>
</div>
