<div class="row">
  <div class="small-6 medium-8 column">
    <h1><%= event_title(current_user) %></h1>
  </div>
  <div class="small-6 medium-4 column">
    <%= link_to event_new(current_user),
                new_event_path,
                :class => "button radius warning right" if can? :create, Event %>
  </div>
</div>
<%= link_to t('backend.export'), current_url(format: :csv), class: "button tiny radius success" %>
<% if can? :download, Event%>
  <%= link_to t('backend.download_xlsx'), download_events_path(formato: :xlsx), :class => "button tiny radius success" %>
  <%= link_to t('backend.download_csv'), download_events_path(formato: :csv), :class => "button tiny radius success" %>
  <%= link_to t('backend.download_json'), download_events_path(formato: :json), :class => "button tiny radius success" %>
<%end%>
<hr>

<%= form_tag events_path, method: :get do %>
  <div class="row" id="search_form">
    <div class="columns medium-7">
      <div class="small-12 medium-6 columns">
        <%= label_tag(:search_title, t("backend.search.title"), class: 'title-s') %>
        <input type="text" name="search_title" style="margin-top:0.85rem"  placeholder="<%= t("backend.search.placeholder_title") %>"  value="<%= params[:search_title] %>">
      </div>

      <div class="small-12 medium-6 columns">
        <%= label_tag(:search_person, t("backend.search.person"), class: 'title-s') %>
        <input type="text" name="search_person" placeholder="<%= t("backend.search.placeholder_person") %>"  value="<%= params[:search_person] %>">
      </div>

      <div class="small-12 medium-12 columns"><%= label_tag("", t("backend.search_active.date"), class: 'title-s') %></div>

      <div class="small-12 medium-12 columns mt5">
        <div class="small-6 medium-6 columns">
          <%= label_tag(:search_start_date, t("backend.search_active.start_date"), class: 'title-s') %>
          <%= date_field_tag :search_start_date,params[:search_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
        </div>
        <div class="small-6 medium-6 columns">
          <%= label_tag(:search_end_date, t("backend.search_active.end_date"), class: 'title-s') %>
          <%= date_field_tag :search_end_date,params[:search_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)"%>
        </div>
      </div>
  <hr>
      <div class="small-12 medium-12 columns">
        <div class="small-6 medium-6 columns">
          <%= label_tag(:search_start_date_published, t("backend.search_active.start_date_published"), class: 'title-s') %>
          <%= date_field_tag :search_start_date_published,params[:search_start_date_published], autocomplete: :off, placeholder: t("backend.search_active.placeholder_start_date_published"), onchange: "validation_date(0)"%>
        </div>
        <div class="small-6 medium-6 columns">
          <%= label_tag(:search_end_date_published, t("backend.search_active.end_date_published"), class: 'title-s') %>
          <%= date_field_tag :search_end_date_published,params[:search_end_date_published], autocomplete: :off, placeholder: t("backend.search_active.placeholder_end_date_published"), onchange: "validation_date(1)"%>
        </div>
      </div>
    </div>
    

    <div class="columns medium-5">
      <div class="small-12 medium-12 columns event-status-search-options">
        <%= label_tag :status, t('backend.search.status'), class: 'title-s' %>
        <small><a href="#" data-tooltip-custom="<%= t("backend.search.tool_tips_multiple_selection") %>"><%= t("backend.search.multiple_selection") %></a></small>
        <%= select_tag :status, event_status_search_options(params[:status]) , { multiple: true }  %>
        <hr/>
      </div>

      
    </div>
  </div>
  
  <div class="columns text-right">
    <%= link_to t('main.form.reset'), events_path, class: 'expanded tiny radius button secondary' %>
    <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
    <hr />
  </div>
<% end %>
