<%= render 'search_form' %>

<div class="small-12 columns mb20">
  <%= page_entries_info @events_paginated %>
  <%= paginate @events_paginated %>
</div>

<% if @events_paginated.present? %>
  <div class="small-12 colum">
    <table class="event">
    <thead>
      <tr>
        <th><%= t('backend.date')%></th>
        <th><%= t('backend.event.title')%></th>
        <th><%= t('backend.holder')%></th>
        <th><%= t('backend.state')%></th>
        <th><%= t('backend.actions')%></th>        
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.date')%></th>
        <th><%= t('backend.event.title')%></th>
        <th><%= t('backend.holder')%></th>
        <th><%= t('backend.state')%></th>
        <th><%= t('backend.actions')%></th>        
      </tr>
    </tfoot>
    <tbody>
      <% @events_paginated.each do |event| %>
      <tr id="<%= dom_id(event) %>">
        <td class="event_date">
          <% if event.scheduled.present? %>
            <%= I18n.l event.scheduled, format: :short %>
            <span class="hide"><%= I18n.l event.scheduled, format: :custom %></span>
            <% else %>
            <span><%= t('backend.pending') %></span>
          <% end %>
        </td>
        <td class="event_txt">
          <p><%= link_to event.title, event_path(event) %></p>
        </td>
        <td class="event_holder">
          <%= event.position.holder.full_name %><br />
          <small><%= event.position.title %></small>
        </td>
        <td class="event_actions">
          <%= t("status.#{event.status}") %>
        </td>
        <!--<td class="event_actions">
          <%#= t("expired.#{event.lobby_expired}") unless event.lobby_expired.blank? %>
        </td>-->
        <td class="event_actions">
          <% if event.status == "accepted" || event.status == "done" %>
            <%= link_to show_path(event),
                        target: :_blank,
                        title: "Ver" do %>
              <i class="step fi-eye size-24"></i>
            <% end %>
          <% end %>
          <%= link_to edit_event_path(event), title: t('backend.edit') do %>
            <i class="step fi-page-edit size-24"></i>
          <% end if can? :edit, event %>

          <%= link_to event_path(event), method: :delete, data: { confirm: t("backend.delete_confirm") }, title: t('backend.delete') do %>
            <i class="step fi-page-delete size-24"></i>
          <% end if can? :destroy, event %>

          <% if event.attachments.any? %>
            <%= link_to "#", title: t('backend.attachments_download'),
                        class: "attachments-dropdown",
                        data: { dropdown: "#{event_attachments_download_dropdown_id(event)}" },
                        aria: { controls: "#{event_attachments_download_dropdown_id(event)}" } do %>
              <i class="step fi-archive size-24"></i>
            <% end %>

            <ul id="<%= event_attachments_download_dropdown_id(event) %>" class="event-attachments-dropdown f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
              <% event.attachments.each do |attachment| %>
                <li>
                  <%= link_to attachment.file.url, target: :_blank do %>
                    <i class="step fi-archive size-24"></i>
                    <%= attachment.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>
<%= paginate @events_paginated%>
