<%=
  exporter = EventsExporter.new true

  CSV.generate(col_sep: ';', encoding: 'ISO-8859-1') do |csv|
    csv << exporter.windows_headers

    @events_unpagined.each do |event|
      csv << exporter.windows_event_row(event)
    end
  end.html_safe
%>
