<div class="row"> 
    <div class="small-12 columns">
        <fieldset>
            <legend><%= t('backend.identifying_data.category_id') %></legend>
            <%= f.label :category_id, t('backend.identifying_data.category_old') %>
            <% Category.where(display: true, new_category: false).each do |c|%>
                <div class="small-12 medium-12 columns">
                    <div class="small-1 medium-1 columns">
                        <%= f.radio_button :category_id, c.id%>
                    </div>
                    <div class="small-11 medium-11 columns">
                        <%= f.label :category_id, c.name %>
                    </div>
                </div>
            <%end%>
            <%= f.label :category_id, t('backend.identifying_data.category_new') %>
            <% Category.where(display: true, new_category: true, category_id: nil).each do |c|%>
                <%if Category.where(category_id: c.id).count > 0%>
                    <div class="small-12 medium-12 columns">
                        <%= f.label :category_id, c.name %>
                    </div>
                    <%Category.where(category_id: c.id).each do |ch|%>
                        <div class="small-12 medium-12 columns">
                            <div class="small-2 medium-2 columns text-right">
                                <%= f.radio_button :category_id, ch.id%>
                            </div>
                            <div class="small-10 medium-10 columns">
                                <%= f.label :category_id, ch.name %>
                            </div>
                        </div>
                    <%end%>

                <%else%>
                    <div class="small-12 medium-12 columns">
                        <div class="small-1 medium-1 columns">
                            <%= f.radio_button :category_id, c.id%>
                        </div>
                        <div class="small-11 medium-11 columns">
                            <%= f.label :category_id, c.name %>
                        </div>
                    </div>
                <%end%>
            <%end%>
            <%#= f.select :category_id, options_for_select(Category.where(display: true).map{ |c| [c.name, c.id] }, f.object.category_id), prompt: t('backend.none') %>
            
        </fieldset>
        <%= form_field_errors(f, :category_id) %>
    </div>
</div>