<fieldset>
  <legend><%= t('backend.identifying_data.title_fieldset') %></legend>
  <div class="row">
    <div class="small-12 medium-12 columns">
      <%= f.label :id, t('backend.lobby_id') %>
      <%= f.object.id %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :identifier_type, t('backend.identifying_data.identifier_type') %>
      <%= f.select :identifier_type, options_for_select(option_identifier_types, f.object.identifier_type.blank? ? "DNI" : f.object.identifier_type)%>
      <%= form_field_errors(f, :identifier_type) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :identifier, t('backend.identifying_data.identifier') %>
      <%= f.text_field :identifier %>
      <%= form_field_errors(f, :identifier) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :business_name, t('backend.identifying_data.business_name') %>
      <%= f.text_field :business_name %>
      <%= form_field_errors(f, :business_name) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :name, t('backend.identifying_data.name') %>
      <%= f.text_field :name %>
      <%= form_field_errors(f, :name) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :first_surname, t('backend.identifying_data.first_surname') %>
      <%= f.text_field :first_surname %>
      <%= form_field_errors(f, :first_surname) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :second_surname, t('backend.identifying_data.second_surname') %>
      <%= f.text_field :second_surname %>
      <%= form_field_errors(f, :second_surname) %>
    </div>
  </div>
  <%= render "admin/addresses/form", f: f %>
  <%= render "admin/organizations/form/category_fields", f:f %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :description, t('backend.identifying_data.description') %>
      <%= f.text_area :description %>
      <%= form_field_errors(f, :description) %>
    </div>
  </div>
   <%= render 'admin/organizations/form/interests', f: f %>
  <div class="row">
    <div class="small-12 columns">
      <br />
      <%= f.label :registered_lobby_ids, t('backend.identifying_data.registered_lobbies_title') %>
      <%= f.select :registered_lobby_ids, options_for_registered_lobby, {}, {:multiple => true} %>
      <%= form_field_errors(f, :registered_lobby) %>
    </div>
  </div>
  <%= hidden_field_tag :organization_id_other, options_for_registered_lobby.last %>
  <div class="row">
    <div id="content_other_field" class="small-12 columns">
      <%= f.label :other_registered_lobby_desc, t('backend.identifying_data.others') %>
      <%= f.text_field :other_registered_lobby_desc, placeholder: t('backend.placeholder.others') %>
      <%= form_field_errors(f, :other_registered_lobby_desc) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :web, t('backend.identifying_data.web') %>
      <%= f.text_field :web %>
      <%= form_field_errors(f, :web) %>
    </div>
  </div>
</fieldset>
