<fieldset>
  <legend><%= t('backend.interest.title_fieldset') %></legend>
  <div class="row">
    <div class="small-12 columns">
      <%i=0%>
      <%= f.collection_check_boxes(:interest_ids, Interest.form_order, :id, :name) do |f| %>
        <% if i%2 == 0 %>
          <% if i == 0 %>
            <div class="row">
          <%else%>
            </div>
            <div class="row">
          <%end%>
        <%end%>
        <%= f.label class:"small-12 medium-6 columns" do %>
          <%= f.check_box %> <span > <%= f.text %> </span>
        <% end %>
        
         <%i = i +1 %>
      <% end %>
      <% if i > 0 %>
        </div>
      <%end%>
      <%= form_field_errors(f, :interest_ids) %>
    </div>
  </div>
</fieldset>
