<div id="<%= dom_id(f.object) %>">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :identifier_type, t('backend.legal_representant.identifier_type') %>
      <%= f.select :identifier_type, options_for_select(option_identifier_types, f.object.identifier_type.blank? ? "DNI" : f.object.identifier_type)%>
      <%= form_field_errors(f, :identifier_type) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :identifier, t('backend.legal_representant.identifier') %>
      <%= f.text_field :identifier %>
      <%= form_field_errors(f, :identifier) %>
    </div>
  </div>
  <div class="row">
   <div class="small-12 medium-6 columns">
      <%= f.label :business_name, t('backend.legal_representant.business_name') %>
      <%= f.text_field :business_name %>
      <%= form_field_errors(f, :business_name) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :name, t('backend.legal_representant.name') %>
      <%= f.text_field :name %>
      <%= form_field_errors(f, :name) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :first_surname, t('backend.legal_representant.first_surname') %>
      <%= f.text_field :first_surname %>
      <%= form_field_errors(f, :first_surname) %>
    </div>

    <div class="small-12 medium-6 columns">
      <%= f.label :second_surname, t('backend.legal_representant.second_surname') %>
      <%= f.text_field :second_surname %>
      <%= form_field_errors(f, :second_surname) %>
    </div>
  </div>
  <%= render partial: "admin/addresses/form", locals: { f: f} %>
</div>