<fieldset>
  <legend><%= t('backend.lobbies_data.title_fieldset') %></legend>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :own_lobby_activity, t('backend.lobbies_data.own_lobby_activity') %>
      <%= f.radio_button :own_lobby_activity, true %>
      <%= t('backend.lobbies_data.own_lobby_activity_yes') %>
      &nbsp;
      <%= f.radio_button :own_lobby_activity, false %>
      <%= t('backend.lobbies_data.own_lobby_activity_no') %>
      <%= form_field_errors(f, :own_lobby_activity) %>
    </div>
  </div>

  <div class="hide" id="lobbies-data-content">
    <div class="row" >
      <div class="small-12 medium-6 columns">
        <%= f.label :fiscal_year, t('backend.lobbies_data.fiscal_year') %>
        <% f.object.fiscal_year = @this_year if f.object.fiscal_year.blank?%>
        <%= f.select :fiscal_year, options_for_select(@years, f.object.fiscal_year.to_i)%>
        <%= form_field_errors(f, :fiscal_year) %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :range_fund, t('backend.lobbies_data.range_fund_title') %>
        <%= f.select :range_fund, Organization.range_funds.keys.map {
          |key| [t("backend.lobbies_data.range_fund.#{key}"), key]},
          {:include_blank => t("backend.lobbies_data.range_fund.select")} %>
        <%= form_field_errors(f, :range_fund) %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.label :in_group_public_administration, t('backend.lobbies_data.in_group_public_administration') %>
        <%= f.radio_button :in_group_public_administration, true,
          :checked => @organization.old_organization ? false : f.object.in_group_public_administration.to_s.blank? && f.object.in_group_public_administration.to_s!="false" ? false : f.object.in_group_public_administration ? true : false %>
        <%= t('backend.lobbies_data.in_group_public_administration_yes') %>
        &nbsp;
        <%= f.radio_button :in_group_public_administration, false,
          :checked => @organization.old_organization ? false : f.object.in_group_public_administration.to_s.blank? && f.object.in_group_public_administration.to_s!="false" ? false : f.object.in_group_public_administration ? false : true %>
        <%= t('backend.lobbies_data.in_group_public_administration_no') %>
        <%= form_field_errors(f, :in_group_public_administration) %>
      
        <div class="row hide" id="lobbies-group-public-data-content" style="padding: 25px;">
          <div class="small-12 medium-12 columns">
            <%= f.label :text_group_public_administration, t('backend.lobbies_data.text_group_public_administration') %>
            <%= f.text_field :text_group_public_administration%>
            <%= form_field_errors(f, :text_group_public_administration) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">    
      <div class="small-12 columns">
        <%= f.label :subvention, t('backend.lobbies_data.subvention') %>
        <%= f.radio_button :subvention, true, 
          :checked => @organization.old_organization ? false : f.object.subvention.to_s.blank? && f.object.subvention.to_s!="false" ? false : f.object.subvention ? true : false %>
        <%= t('backend.lobbies_data.subvention_yes') %>
        &nbsp;
        <%= f.radio_button :subvention, false,
          :checked => @organization.old_organization ? false : f.object.subvention.to_s.blank? && f.object.subvention.to_s!="false" ? false : f.object.subvention ? false : true %>
        <%= t('backend.lobbies_data.subvention_no') %>
        <%= form_field_errors(f, :subvention) %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.label :subvention_public_administration, t('backend.lobbies_data.subvention_public_administration') %>
        <%= f.radio_button :subvention_public_administration, true,
          :checked => @organization.old_organization ? false : f.object.subvention_public_administration.to_s.blank? && f.object.subvention_public_administration.to_s!="false" ? false : f.object.subvention_public_administration ? true : false %>
        <%= t('backend.lobbies_data.subvention_public_administration_yes') %>
        &nbsp;
        <%= f.radio_button :subvention_public_administration, false,
          :checked => @organization.old_organization ? false : f.object.subvention_public_administration.to_s.blank? && f.object.subvention_public_administration.to_s!="false" ? false : f.object.subvention_public_administration ? false : true %>
        <%= t('backend.lobbies_data.subvention_public_administration_no') %>
        <%= form_field_errors(f, :subvention_public_administration) %>
      
        <div class="row hide" id="lobbies-suvention-public-data-content" style="padding: 25px;">
          <div id="nested-lobbies-range-subvention-wrapper">
            <div class="small-12 medium-12 columns">
              <%= f.fields_for :range_subventions do |x| %>
                <%= render 'admin/organizations/form/range_subvention_fields', f: x %>
              <% end %>
              <%= link_to_add_association t('backend.range_subvention.add_range_subvention'), f, :range_subventions,
                  partial: "admin/organizations/form/range_subvention_fields",
                  id: "lobbies_range_subvention_link", class: "button tiny radius info",
                  data: {
                    association_insertion_node: "#nested-lobbies-range-subvention-wrapper",
                    association_insertion_method: "append"
                  }%>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.label :contract, t('backend.lobbies_data.contract') %>
        <%= f.radio_button :contract, true,
          :checked => @organization.old_organization ? false : f.object.contract.to_s.blank? && f.object.contract.to_s!="false" ? false : f.object.contract ? true : false %>
        <%= t('backend.lobbies_data.contract_yes') %>
        &nbsp;
        <%= f.radio_button :contract, false,
          :checked => @organization.old_organization ? false : f.object.contract.to_s.blank? && f.object.contract.to_s!="false" ? false : f.object.contract ? false : true %>
        <%= t('backend.lobbies_data.contract_no') %>
        <%= form_field_errors(f, :contract) %>
      </div>
    </div>
    <div class="row">    
      <div class="small-12 medium-12 columns">
        <%=  t('backend.lobbies_data.pretext_turnover') %>
      </div>
    </div>
    <div class="row">    
      <div class="small-12 medium-12 columns">
        <%= f.label :contract_turnover, t('backend.lobbies_data.contract_turnover') %>
        <%= f.text_field :contract_turnover%>
        <%= form_field_errors(f, :contract_turnover) %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%=  t('backend.lobbies_data.pretext_not_turnover') %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :contract_total_budget, t('backend.lobbies_data.contract_total_budget') %>
        <%= f.text_field :contract_total_budget%>
        <%= form_field_errors(f, :contract_total_budget) %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :contract_breakdown, t('backend.lobbies_data.contract_breakdown') %>
        <%= f.text_field :contract_breakdown%>
        <%= form_field_errors(f, :contract_breakdown) %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :contract_financing, t('backend.lobbies_data.contract_financing') %>
        <%= f.text_field :contract_financing%>
        <%= form_field_errors(f, :contract_financing) %>
      </div>
    </div>
  </div>
</fieldset>
