<fieldset>
  <legend><%= t('backend.notification_effect.title_fieldset') %></legend>
  <div class="row">
    <div id="nested-notification-effect-wrapper">
      <div class="small-12 columns">
        <%= f.fields_for :notification_effect do |notification_effect_builder| %>
          <%= render 'admin/organizations/form/notification_effect_fields', f: notification_effect_builder %>
        <% end %>
        <%= link_to_add_association t('backend.notification_effect.add_notification_effect'), f, :notification_effect,
            partial: "admin/organizations/form/notification_effect_fields",
            id: "notification_effect_link", class: "button tiny radius info",
            data: {
              association_insertion_node: "#nested-notification-effect-wrapper",
              association_insertion_method: "append"
            } if @organization.notification_effect.blank? || @organization.notification_effect.new_record? %>                            
      </div>
    </div>
  </div>
</fieldset>
