<div id="<%= dom_id(f.object) %>" class="notification-effect">
  <div class="row">
    <div class="small-12  columns" >
      <%= link_to t('backend.notification_effect.copy_lobby'), "##{dom_id(f.object) }", class: "button tiny radius", onclick: "copy_data('lobby')"%>
      <%= link_to t('backend.notification_effect.copy_legal_representant'),"##{dom_id(f.object) }", class: "button tiny radius", onclick: "copy_data('legal_representant')"%>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :identifier_type, t('backend.notification_effect.identifier_type') %>
      <%= f.select :identifier_type, options_for_select(option_identifier_types, f.object.identifier_type.blank? ? "DNI" : f.object.identifier_type)%>
      <%= form_field_errors(f, :identifier_type) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :identifier, t('backend.notification_effect.identifier') %>
      <%= f.text_field :identifier %>
      <%= form_field_errors(f, :identifier) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :business_name, t('backend.notification_effect.business_name') %>
      <%= f.text_field :business_name %>
      <%= form_field_errors(f, :business_name) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :name, t('backend.notification_effect.name') %>
      <%= f.text_field :name %>
      <%= form_field_errors(f, :name) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :first_surname, t('backend.notification_effect.first_surname') %>
      <%= f.text_field :first_surname %>
      <%= form_field_errors(f, :first_surname) %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :second_surname, t('backend.notification_effect.second_surname') %>
      <%= f.text_field :second_surname %>
      <%= form_field_errors(f, :second_surname) %>
    </div>
  </div>
  <%= render partial: "admin/addresses/form", locals: { f: f} %>
  <div class="row">
    <div class="small-12 columns">
      <%= link_to_remove_association "Eliminar" ,f ,class: "button tiny radius alert right", wrapper_class: "notification-effect" %>
    </div>
  </div>
</div>
