<div class="row">
    <div class="small-12 medium-12 column">
        <h1>
            <%= t('backend.preferences.data_preferences')%>
        </h1>
        <div class="row">
            <div class="small-12 medium-12 column">
                <%= form_for :data_preference, :url => { :action => :length_event_description } do |f| %> 
                    <% @data_preferences.each do |d| %>
                        <fieldset>
                            <div class="row">
                                <% f.hidden_field d.id %>
                                <div class="small-6 medium-6 column" style="margin-top:15px">
                                    <legend><%= t("backend.preferences.#{d.title}") %></legend>
                                </div>
                                <div class="small-4 medium-3 column" style="margin-top:15px">
                                    <%= f.label t("backend.preferences.type_data")[d.type_data.to_i]%>
                                </div>
                                <div class="small-2 medium-3 column">
                                    <%if d.type_data == 1%>
                                        <%= f.number_field d.title, value: d.content_data %>
                                    <%elsif d.type_data == 2%>
                                        <%= f.text_field d.title, value: d.content_data %>
                                    <%elsif d.type_data == 3%>
                                        <%= f.select d.title, options_for_select( get_list_preferences(d.title) || {}, selected: d.try(:content_data)),
                                            label: t("backend.preferences.type_data"),
                                            placeholder: t("backend.preferences.type_data"),
                                            include_blank: :true %>
                                    <%elsif d.type_data == 4%>
                                        <%= f.date_field d.title, value: d.content_data, size: 100 %>
                                    <%elsif d.type_data == 5%>
                                        <%= f.select d.title, options_for_select(@limit_values||{}, selected: d.try(:content_data)),
                                            label: t("backend.preferences.type_data"),
                                            placeholder: t("backend.preferences.type_data"),
                                            include_blank: :true %>
                                    <%end%>
                                </div>
                            </div>
                        </fieldset>
                    <% end %>
                    <%= f.submit t('backend.manage_mails.update'), class: "button tiny radius success" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

