<div class="organizaion-lobby-show">
    <div class="row">
        <div class="small-12 medium-12 columns" >
            <h1 class="title-l"><%= t('backend.organizations_links.title')%></h1>
            <%= t('backend.organizations_links.body').html_safe%>
        </div>
    </div>
</div>