
<div class="simple-calendar">
    <a onclick="show_month()" class="calendar_link">Mes</a>
    <a onclick="show_week()" class="calendar_link">Semana</a>
  <div class="calendar-heading">
    <%= link_to '&#9668'.html_safe, "#{calendar.url_for_previous_view}&calendar=1"%>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to '&#9658'.html_safe, "#{calendar.url_for_next_view}&calendar=1"%>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: [calendar.td_classes_for(day),'event_event'], :data => { :html => "true" } do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
