    <div class="simple-calendar" id="week">
      <a onclick="show_month()" class="calendar_link">Mes</a>
      <a onclick="show_week()" class="calendar_link">Semana</a>
      <!-- Weeks number and arrow for previous and next month -->
      <div class="calendar-heading">
        <%= link_to '&#9668'.html_safe,  "#{calendar.url_for_previous_view}&calendar=2"%>
        <% if calendar.number_of_weeks == 1 %>
          <span class="calendar-title">Semana <%= calendar.week_number %></span>
        <%else%>
            <span class="calendar-title">Semana <%= calendar.week_number %> - <%= calendar.end_week %></span>
        <%end%>
            <%= link_to '&#9658'.html_safe, "#{calendar.url_for_next_view}&calendar=2" %>
      </div>
      <!-- End weeks number and arrow for previous and next month-->

      <!-- Table headers -->
      <table class="table table-striped">
        <thead>
          <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
          <% date_range.each_slice(7) do |week| %>
              <% week.each do |day| %>
                <% class_2 = "event" if calendar.td_classes_for(day).index("has-events")%>
                <%= content_tag :td, class: [calendar.td_classes_for(day), class_2] do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                  <% else %>
                    <% block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


