<%if !model.try(:address).blank?%>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.country') %></strong></p>
            <p><%= model.address.try(:country).blank? ? "<br>".html_safe : model.address.try(:country) %></p>
        </div>
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.province') %></strong></p>
            <p><%=  model.address.try(:province).blank? ? "<br>".html_safe : model.address.try(:province) %></p>
        </div>
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.town') %></strong></p>
            <p><%=  model.address.try(:town).blank? ? "<br>".html_safe : model.address.try(:town) %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.address_type') %></strong></p>
            <p><%= model.address.try(:address_type).blank? ? "<br>".html_safe : model.address.try(:address_type) %></p>
        </div>
        <div class="small-12 medium-8 columns">
            <p><strong><%= t('backend.identifying_data.address') %></strong></p>
            <p><%= model.address.try(:address).blank? ? "<br>".html_safe :  model.address.try(:address) %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.address_number_type') %></strong></p>
            <p><%= model.address.try(:address_number_type).blank? ? "<br>".html_safe : model.address.try(:address_number_type) %></p>
        </div>
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.number') %></strong></p>
            <p><%=  model.address.try(:number).blank? ? "<br>".html_safe : model.address.try(:number) %></p>
        </div>
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.gateway') %></strong></p>
            <p><%=model.address.try(:gateway).blank? ? "<br>".html_safe : model.address.try(:gateway) %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.stairs') %></strong></p>
            <p><%= model.address.try(:stairs).blank? ? "<br>".html_safe : model.address.try(:stairs) %></p>
        </div>    
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.floor') %></strong></p>
            <p><%= model.address.try(:floor).blank? ? "<br>".html_safe : model.address.try(:floor) %></p>
        </div>
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.door') %></strong></p>
            <p><%= model.address.try(:door).blank? ? "<br>".html_safe : model.address.try(:door) %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <p><strong><%= t('backend.identifying_data.postal_code') %></strong></p>
            <p><%= model.address.try(:postal_code).blank? ? "<br>".html_safe :  model.address.try(:postal_code) %></p>
        </div>        
        <div class="small-12 medium-8 columns">
            <p><strong><%= t('backend.identifying_data.email') %></strong></p>
            <p><%= model.address.try(:email).blank? ? "<br>".html_safe : model.address.try(:email) %></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong><%= t('backend.identifying_data.phones') %></strong></p>
            <p><%= model.address.try(:phones).blank? ? "<br>".html_safe : model.address.try(:phones) %></p>
        </div>           
    </div> 
<%end%>