<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.address_type') %></strong>
        <%= model.address.address_type %>
    </p>
</div>
<div class="small-12 medium-8 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.address') %></strong>
        <%= model.address.address %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.number') %></strong>
        <%= model.address.number %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.gateway') %></strong>
        <%= model.address.gateway %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.stairs') %></strong>
        <%= model.address.stairs %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.floor') %></strong>
        <%= model.address.floor %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.door') %></strong>
        <%= model.address.door %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.postal_code') %></strong>
        <%= model.address.postal_code %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.town') %></strong>
        <%= model.address.town %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.province') %></strong>
        <%= model.address.province %>
    </p>
</div>
<div class="small-12 medium-4 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.country') %></strong>
        <%= model.address.country %>
    </p>
</div>
 <div class="small-12 medium-6 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.phones') %></strong>
        <%= model.address.phones %>
    </p>
</div>
<div class="small-12 medium-6 columns mb10">
    <p>
        <strong><%= t('backend.identifying_data.email') %></strong>
        <%= model.address.email %>
    </p>
</div>