<div class="row">
  <br />

  <%= form_tag admin_organizations_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>
    <div class="row">
      <div class="small-7 columns">
        <div class="small-12 medium-12 columns mt5">
          <%= label_tag(:search_title, t("organizations.description")) %>
          <%= text_field_tag :keyword, params[:keyword], placeholder: t('main.form.keyword') %>
        </div>

        <div class="small-12 medium-12 columns mt5">
          <div class="small-6 medium-6 columns">
            <%= label_tag(:search_inscription_start_date, t("backend.search_active.inscription_start_date"), class: 'title-s') %>
            <%= date_field_tag :search_inscription_start_date,params[:search_inscription_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
          </div>
          <div class="small-6 medium-6 columns">
            <%= label_tag(:search_inscription_end_date, t("backend.search_active.inscription_end_date"), class: 'title-s') %>
            <%= date_field_tag :search_inscription_end_date,params[:search_inscription_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)"%>
          </div>
        </div>
      </div>
      
      <div class="small-5 columns">
        <div class="row">
          <div class="small-8 columns">
            <%= label_tag(:search_title, t("organizations.status")) %>
          </div>
          <div class="small-4 columns">
            <small><a href="#" data-tooltip-custom="<%= t("backend.search.tool_tips_multiple_selection") %>"><%= t("backend.search.multiple_selection") %></a></small>
          </div>
        </div>
        <%= select_tag :status_type,
                      options_for_select([[t("main.form.active"), 1],[t("main.form.inactive"), 3], [t("main.form.inavilited"), 2], [t("main.form.expired"), 4], [t("main.form.next_expired"), 5]], 
                      unless params[:status_type].blank? 
                        params[:status_type]
                      else  
                        0
                      end),
                      class: "dropdown", multiple: true %>
      </div>
    </div>
    <div class="row">
      <div class="small-7 columns">
        <div class="small-12 medium-12 columns mt5">
          <div class="small-6 medium-6 columns">
            <%= label_tag(:search_expired_start_date, t("backend.search_active.expired_start_date"), class: 'title-s') %>
            <%= date_field_tag :search_expired_start_date,params[:search_expired_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
          </div>
          <div class="small-6 medium-6 columns">
            <%= label_tag(:search_expired_end_date, t("backend.search_active.expired_end_date"), class: 'title-s') %>
            <%= date_field_tag :search_expired_end_date,params[:search_expired_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)" %>
          </div>
        </div>
      </div>
      <!--<div class="small-5 columns">
        <%#= label_tag(:search_title, t("organizations.entity_type")) %>
        
        <%#= select_tag :entity_type, current_user.admin? ?
                      options_for_select([[t("main.form.lobbies"), 2],[t("main.form.associations_federations"), -1], [t("main.form.all"), -2]], 
                      unless params[:entity_type].blank? 
                        params[:entity_type]
                      else  
                        2
                      end) : options_for_select([t("main.form.lobbies")]),
                      class: "dropdown",  :disabled => current_user.admin? ? false : true %>
      </div>-->
    </div>
    <div class="row">
      <div class="small-7 columns">
        <div class="small-12 medium-12 columns mt5">
          <div class="small-6 medium-6 columns">
            <%= label_tag(:search_renovation_start_date, t("backend.search_active.renovation_start_date"), class: 'title-s') %>
            <%= date_field_tag :search_renovation_start_date,params[:search_renovation_start_date], placeholder: t("backend.search_active.placeholder_start_date"), autocomplete: :off, onchange: "validation_date(0)"%>
          </div>
          <div class="small-6 medium-6 columns">
            <%= label_tag(:search_renovation_end_date, t("backend.search_active.renovation_end_date"), class: 'title-s') %>
            <%= date_field_tag :search_renovation_end_date,params[:search_renovation_end_date], placeholder: t("backend.search_active.placeholder_end_date"), autocomplete: :off, onchange: "validation_date(1)"%>
          </div>
        </div>
      </div>
    </div>
    
    <div class="columns text-right">
      <%= link_to t('main.form.reset'), admin_organizations_path, class: 'expanded tiny radius button secondary' %>
      <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
    </div>
    <hr>
  <% end %>
</div>
