<div class="row organizations-list">
  <div class="small-12 medium-8 column">
    <h1>
      <%= t('backend.companies') %> (<%= @organizations.count %>)
    </h1>
    <%= link_to t('backend.export'), admin_organizations_path(format: :csv,params: params),
               class: "button tiny radius success" if current_user.admin? %>
  </div>

  <div class=" small-12 medium-4 column">
    <%= link_to t('backend.new_company'),
              new_admin_organization_path,
              class: "button radius warning right" if can? :create, Organization %>
  </div>
</div>

<%= render 'admin_search_form' %>

<div class="small-12 medium-8 columns">
<%= page_entries_info @paginated_organizations, entry_name: t('backend.lobby') %>
<%= paginate @paginated_organizations %>
</div>
<%= form_tag admin_organizations_path, method: :get do %>
<%= hidden_field_tag :keyword, params[:keyword] %>
<%= hidden_field_tag :status_type, params[:status_type] %>
<%= hidden_field_tag :entity_type, params[:entity_type] %>
<div class="small-12 medium-4 columns">
  <label for="right-label" class="title-xs">
    <%= t("main.form.order_by") %>
  </label>
    <%= select_tag :order,
                  options_for_select({
                    t("main.form.name_asc") => 1,
                    t("main.form.name_desc") => 2,
                    t("main.form.inscription_date_asc") => 3,
                    t("main.form.inscription_date_desc") => 4
                  }, params[:order]),
                  include_blank: t("main.form.select"),
                  id: "search-order",
                  class: "select-sm",
                  onchange: "this.form.submit();" %>
</div>
<%end%>
<div class="small-12">
  <table class="small-12">
    <thead>
      <tr>
        <th><%= t('backend.lobby')%></th>
        <th><%= t('backend.lobby_created_at')%></th>
        <th><%= t('backend.lobby_renovation_at')%></th>
        <th><%= t('backend.lobby_expired_at')%></th>
        <th><%= t('backend.lobby_status')%></th>
        <th class="right"><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.title')%></th>
        <th><%= t('backend.lobby_created_at')%></th>
        <th><%= t('backend.lobby_renovation_at')%></th>
        <th><%= t('backend.lobby_expired_at')%></th>
        <th><%= t('backend.lobby_status')%></th>
        <th class="right"><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <% @paginated_organizations.each do |organization| %>
      <tr id="<%= dom_id(organization) %>" >
        <td>
          <% if !organization.expired_date.blank? && Time.zone.now > organization.expired_date%>
            <i class="step fi-x size-24" style="color: red;"></i>
          <%end%>          
          <%= link_to organization.fullname, admin_organization_path(organization) %>
        </td>
        <td>
        <%= I18n.l organization.inscription_date, format: :short unless organization.inscription_date.blank? %>
        </td>
        <td>
        <%= I18n.l organization.renovation_date, format: :short unless organization.renovation_date.blank? %>
        </td>
        <td>
        <%if !organization.expired_date.blank? %>
          <%= I18n.l organization.expired_date, format: :short %>
        <%else%>
          <%= organization.set_expired_date.strftime("%d-%m-%Y") %>
        <%end%>
        </td>
        <td>
          <%= organization.status_type %>
        </td>
        <td class="right">
          <%if current_user.admin? %>
            <%= link_to admin_organization_agents_path(organization),
                      title: "Agentes" do %>
              <i class="step fi-torso size-24"></i>
            <% end %>
          <% end %>

          <%= link_to organization_path(organization, admin: "true"),
                      target: :_blank,
                      title: t('backend.lobby_show') do %>
            <i class="step fi-eye size-24"></i>
          <% end %>

          <%= link_to edit_admin_organization_path(organization),
                      title: t('backend.edit') do %>
            <i class="step fi-page-edit size-24"></i>
          <% end if can? :edit, organization %>

          <%= link_to admin_organization_path(organization),
                      method: :delete,
                      data: { confirm: t("backend.delete_confirm_lobby",name: organization.fullname) },
                      title: t('backend.delete') do %>
            <i class="step fi-page-delete size-24"></i>
          <% end if (can? :destroy, organization) && organization.status_type.to_s != t('backend.status_type.inactive') %>

          <% if organization.attachments.any? %>
            <%= link_to "#", title: t('backend.attachments_download'),
                        class: "organization-attachments-dropdown-link",
                        data: { dropdown: "#{organization_attachments_download_dropdown_id(organization)}" },
                        aria: { controls: "#{organization_attachments_download_dropdown_id(organization)}" } do %>
              <i class="step fi-archive size-24"></i>
            <% end %>

            <ul id="<%= organization_attachments_download_dropdown_id(organization) %>"
                class="organization-attachments-dropdown f-dropdown"
                data-dropdown-content aria-hidden="true" tabindex="-1">
              <% organization.attachments.each do |attachment| %>
                <li>
                  <%= link_to attachment.file.url, target: :_blank do %>
                    <i class="step fi-archive size-24"></i>
                    <%= attachment.file.original_filename %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
          <%#= link_to admin_organization_path(organization, format: :pdf), title: t('backend.get_pdf_identificator'), target: "blank" do %>
            <!--<i class="step fi-archive size-24"></i>-->
          <%#end%>
          
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @paginated_organizations %>
