<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body >
    
    <div id="main-content" class="main-content">

      <div class="row">
          <%= image_tag '/opt/AGEND/iam_agend/app/assets/images/madrid-lobby-pdf.png', class: 'header__imago', alt:'Lobbies, documento de inscripción', height: '90px'%>
      </div>
      <br><br>
      <div class="row">
        <p><%= t('backend.lobby_pdf_1', name: @organization.name, date: I18n.l(@organization.inscription_date, format: :short)) %>
        <% if !@organization.renovation_date.blank? %>
          <span style="color:red"><%= t('backend.lobby_pdf_2', date: I18n.l(@organization.renovation_date, format: :short))%>
        <% end %>
        <% if @organization.status_type == 'Caducado' %>
          <%= t('backend.lobby_pdf_3', date: I18n.l(@organization.expired_date, format: :short))%></span></p>
        <%end%>
      </div>
      <div class="row">
        <p><%= t('backend.lobby_pdf_4', name: @organization.name, id: @organization.id) %></p>
        <p><%= t('backend.lobby_pdf_5') %></p>
        <br>
        <p style="text-align:right">En Madrid, a <%= Time.zone.now.day %> de <%= Time.zone.now.month %> de <%= Time.zone.now.year %></p>
      </div>
    </div>
  </body>
</html>