$(function () {
    setDatePicker();
    var $checkoutForm = $(".admin-form").validate({
        ignore: [],
        errorElement: "small",
        rules : {
            "holder[first_name]" : {
                required : true
            },
            "holder[last_name]" : {
                required : true
            }
        },

        messages : {
            "holder[first_name]" : {
                required : "<%= I18n.translate('backend.mandatory_field')%>"
            },
            "holder[last_name]" : {
                required : "<%= I18n.translate('backend.mandatory_field')%>"
            }
        },

        errorPlacement : function(error, element) {
            error.insertAfter(element);
        }
    });

    $('#positions').on('cocoon:after-insert', function(e, insertedItem) {
      setDatePicker();
    });

    

    function setDatePicker(){
      $('.fdatepicker').fdatepicker({
        format: "<%= I18n.translate('datepicker-format') %>",
        language: "<%= I18n.locale %>",
        weekStart: 1
      });
    }

});

 