$(function(){
  if ( $("#infringement_email_affected").val() == '<%=I18n.t('infringement_mailbox.affected_3')%>') {
    $("#affected_referer").show();
  } else {
    $("#affected_referer").hide();
  }

  $("#infringement_email_affected").on("change", function(){
    if ( $("#infringement_email_affected").val() == '<%=I18n.t('infringement_mailbox.affected_3')%>') {
      $("#affected_referer").show();
    } else {
      $("#affected_referer").hide();
    }
  });
});
