<td>
  <h1><b><%= t('mailers.accept_event.head1', event_reference: @event_reference)%></h1>
  <h2><%= t('mailers.accept_event.head2')%></h2>
  <ul>
    <li><b><%= t('mailers.accept_event.text1')%></b> <%= @holder_name %></li>
    <li><b><%= t('mailers.accept_event.text2')%></b> <%= @event_title %></li>
    <li><b><%= t('mailers.accept_event.text3')%></b> <%= @event_description.html_safe %></li>
  </ul>
  <h2><%= t('mailers.accept_event.head3')%></h2>
  <ul>
    <li><b><%= t('mailers.accept_event.text4')%></b> <%= @accepted_day %></li>
    <li><b><%= t('mailers.accept_event.text5')%></b> <%= @accepted_at %></li>
    <li><b><%= t('mailers.accept_event.text6')%></b> <%= @event_location %></li>
  </ul>
  <p><%= t('mailers.accept_event.head4', link: "<a href=\"https://tomadedecisiones.madrid.es/users/sign_in\">https://tomadedecisiones.madrid.es/users/sign_in</a>").html_safe %></p>
</td>
