<td>
  <h1><%= t('mailers.create_event.head1', event_reference: @event_reference)%></h1>
  <h2><%= t('mailers.create_event.head2')%></h2>
  <ul>
    <li><b><%= t('mailers.create_event.text1')%></b> <%= @lobby_name %></li>
    <li><b><%= t('mailers.create_event.text2')%></b> <%= @lobby_contact_full_name %></li>
    <li><b><%= t('mailers.create_event.text3')%></b> <%= @lobby_contact_email %></li>
  </ul>
  <h2><%= t('mailers.create_event.head3')%></h2>
  <ul>
    <li><b><%= t('mailers.create_event.text4')%></b> <%= @holder_name %></li>
    <li><b><%= t('mailers.create_event.text5')%></b> <%= @event_title %></li>
    <li><b><%= t('mailers.create_event.text6')%></b> <%= @event_description.html_safe %></li>
    <li><b><%= t('mailers.create_event.text7')%></b> <%= @event_scheduled %></li>
  </ul>
</td>
