<td>
  <h1><%= t('mailers.decline_event.head1', event_reference: @event_reference)%></h1>
  <h2><%= t('mailers.decline_event.head2')%></h2>
  <ul>
    <li><b><%= t('mailers.decline_event.text1')%></b> <%= @holder_name %></li>
    <li><b><%= t('mailers.decline_event.text2')%></b> <%= @event_title %></li>
    <li><b><%= t('mailers.decline_event.text3')%></b> <%= @event_description.html_safe %></li>
  </ul>
  <h2><%= t('mailers.decline_event.head3')%></h2>
  <ul>
    <li><b><%= t('mailers.decline_event.text4')%></b> <%= @reasons.html_safe %></li>
  </ul>
  <p><%= t('mailers.decline_event.head4', link: "<a href=\"http://tomadedecisiones.madrid.es/users/sign_in\">http://tomadedecisiones.madrid.es/users/sign_in</a>").html_safe%></p>
</td>
