<%= link_to t('backend.back'), registration_lobbies_path , :class=> "button tiny radius" %>
<p>
  <%= t('registration_lobbies_index.organizations.body', 
  link1: link_to(t('registration_lobbies_index.organizations.link1'), 'https://sede.madrid.es/sites/v/index.jsp?vgnextoid=5763386a64370610VgnVCM2000001f4a900aRCRD&vgnextchannel=f47ea38813180210VgnVCM100000c90da8c0RCRD',  target: 'blank'), 
  link3: link_to(t('registration_lobbies_index.organizations.link3'), 'https://clave.gob.es/clave_Home/PIN24H.html', target: 'blank'),
  link4: link_to(t('registration_lobbies_index.organizations.link4'), 'https://sede.madrid.es/portal/site/tramites/menuitem.62876cb64654a55e2dbd7003a8a409a0/?vgnextoid=56f2eab7ba794410VgnVCM2000000c205a0aRCRD&vgnextchannel=d4968173cec9c410VgnVCM100000171f5a0aRCRD&vgnextfmt=default',  target: 'blank'),
  link5: link_to(t('registration_lobbies_index.organizations.link5'), 'https://sede.madrid.es/portal/site/tramites/menuitem.dd7c2859598d94d061e061e084f1a5a0/?vgnextoid=fd9ae59bdb789210VgnVCM100000171f5a0aRCRD',  target: 'blank')).html_safe%>
</p>
<p style="margin-top: 2rem">
  <%= t('registration_lobbies_index.organizations.paragraph1').html_safe %>
</p>
<p style="margin-top: 2rem">
  <%= t('registration_lobbies_index.organizations.paragraph2',
  link6: link_to(t('registration_lobbies_index.organizations.link6'), 'https://sede.madrid.es/FWProjects/transparencia/RelacionCiudadania/RegistroLobbies/Ficheros/Inscripci%C3%B3n_de_un_lobby.%20Documento_de_ayuda.pdf', target: 'blank')).html_safe %>
</p>
<p style="margin-top: 2rem">
  <%= t('registration_lobbies_index.organizations.paragraph3',
  link7: link_to(t('registration_lobbies_index.organizations.link7'), 'https://sede.madrid.es/FWProjects/transparencia/RelacionCiudadania/RegistroLobbies/Ficheros/Renovaci%C3%B3n_de_un_lobby.%20Documento_de_ayuda_vJulio_2021.pdf', target: 'blank')).html_safe %>
</p>
<p style="margin-top: 2rem">
  <%= t('registration_lobbies_index.organizations.paragraph4',
  link8: link_to(t('registration_lobbies_index.organizations.link8'), 'https://tomadedecisiones.madrid.es/faq', target: 'blank')).html_safe %>
</p>
<%= link_to t('registration_lobbies_index.organizations.link'), "https://sede.madrid.es/sites/v/index.jsp?vgnextoid=5763386a64370610VgnVCM2000001f4a900aRCRD&vgnextchannel=f47ea38813180210VgnVCM100000c90da8c0RCRD" ,class: 'button expanded button',  target: 'blank', style:"margin-top: 2rem" %>