<%=
  exporter = OrganizationExporter.new

  CSV.generate(col_sep: ';', encoding: 'ISO-8859-1') do |csv|
    csv << exporter.windows_headers

    @organizations.results.each do |organization|
      csv << exporter.windows_organization_row(organization)
    end
  end.html_safe
%>