<% content_for(:body_class) { 'visit-organizations-list' } %>

<div class="row">
  <%= render 'search_form' %>
  <div class="small-12 columns mb40">
    <% if params[:keyword].present? %>
      <%= render "shared/search_keywords",
                 collection: @organizations,
                 keyword: params[:keyword] %>
    <% end %>
    <div class="medium-8 columns">
      <% if search_by_filter? %>
        <p><span class="result-l"><%= t("organizations.results_title") %></h2></span></p>
      <% else %>
        <p><span class="result-l"><%= organizations_index_subtitle %></span></p>
      <% end %>
    </div>
    <div class="small-12 medium-4 columns order-select">
      <div class="small-12 medium-9 columns" style="float: right;">        
        <%=label_tag :"search-order", t("main.form.order_by"), class: "title-xs"%>
         <%= select_tag :order,
              options_for_select({
                t("main.form.name_asc") => 1,
                t("main.form.name_desc") => 2,
                t("main.form.inscription_date_asc") => 3,
                t("main.form.inscription_date_desc") => 4,
                t("main.form.renovation_date_asc") => 5,
                t("main.form.renovation_date_desc") => 6
              }, params[:order] || 4),
              include_blank: t("main.form.select"),
              id: "search-order",
              class: "select-sm" %>
      </div>
    </div>
    <%if !@paginated_organizations.blank?%>
      <div class="small-12 columns mb20">
        <div class="text-left">
        <%= page_entries_info @paginated_organizations, entry_name: t('backend.lobby') %>
          <%= paginate @paginated_organizations %>
        </div>
      </div>
      <div class="small-12 columns mb20 list-organizations">
        <% @paginated_organizations.each do |organization| %>
          <%= render organization %>
        <% end %>
      </div>
      <div class="small-12 columns">
        <%= paginate @paginated_organizations %>
      </div>
    <%else%>
      <p>No hay datos de lobbies</p>
    <%end%>
  </div>
</div>

<%= javascript_include_tag "search_form" %>
