<div class="row">
  <br />

  <%= form_tag admin_users_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>
    <div class="small-4 columns">
      <%= label_tag(:search_title, t("users.rol")) %>
      <%= select_tag :role,
                     options_for_select([[t("main.form.manager"), 0],[t("main.form.lobby"), 2],[t("main.form.admin"),1],  [t("main.form.any"), ""], [t("main.form.holder_user"), 3], [t("main.form.help_user"), 4]], 
                     unless params[:role].blank? 
                      params[:role]
                     else  
                      ""
                     end),
                     class: "dropdown" %>
    </div>
    <div class="columns text-right">
      <%= link_to t('main.form.reset'), admin_users_path, class: 'expanded tiny radius button secondary' %>
      <%= submit_tag t('main.form.search'), class: 'button expanded tiny radius button', name: nil %>
    </div>
  <% end %>
</div>