<%= form_for [:admin, @organization],
             url: admin_organization_interests_update_path(@organization),
             html: { class: 'organization-form' } do |f| %>
  <fieldset>
    <legend><%= t('backend.interest.title_fieldset') %></legend>
    <div class="row">
      <div class="small-12 columns">
        <%= f.collection_check_boxes(:interest_ids, Interest.all, :id, :name) do |f| %>
          <%= f.label class:"small-12 medium-6 columns" do %>
            <%= f.check_box %> <span> <%= f.text %> </span>
          <% end %>
        <% end %>
        <%= form_field_errors(f, :interest_ids) %>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend><%= t('backend.terms.title_fieldset') %></legend>
      <div class="row">
      <div class="small-12 columns">
        <%= f.label :communication_term do %>
          <%= f.check_box :communication_term %>
          <small><%= t('backend.terms.communication_term') %></small>
        <% end %>
        <%= form_field_errors(f, :communication_term) %>
      </div>
    </div>

  </fieldset>

  <div class="small-4 medium-3 large-2 column">
    <%= submit_tag t('backend.save'), class: "button radius success right" %>
  </div>
<% end %>