<div class="row">
  <h1>
    <%= t('backend.title_holders_active')%> (<%= @count %>)
  </h1>
  <%= link_to t('backend.export'), current_url(:format=>:csv), :class => "button tiny radius success" %>
</div>

<%= render 'search_form_active' %>

<div class="small-12 columns mb20">
  <%= page_entries_info @positions %>
  <%= paginate @positions %>
</div>

<div class="row">
  <table class="display" cellpadding="0" width="100%">
    <thead>
      <tr>
        <th><%= t('backend.holders_active.title')%></th>
        <th><%= t('backend.holders_active.start_date')%></th>
        <th><%= t('backend.holders_active.end_date')%></th>
        <th><%= t('backend.holders_active.num_holders')%></th>
        <th><%= t('backend.holders_active.num_asist')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.holders_active.title')%></th>
        <th><%= t('backend.holders_active.start_date')%></th>
        <th><%= t('backend.holders_active.end_date')%></th>
        <th><%= t('backend.holders_active.num_holders')%></th>
        <th><%= t('backend.holders_active.num_asist')%></th>
      </tr>
    </tfoot>
    <tbody>
    <% @positions.each do |pos| %>
      <tr>
        <td><%= link_to pos.holder.full_name_comma, holder_path(pos.holder) %></td>
        <td><%= pos.start.strftime("%d/%m/%Y") unless pos.start.blank?%></td>
        <td><%= pos.to.strftime("%d/%m/%Y") unless pos.to.blank? %></td>
        <td><%=pos.holder.num_events_holder(pos.id,params)%></td>
        <td><%=pos.holder.num_events_participants(pos.id, params)%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @positions %>
