<% if current_user.lobby? && current_user.changed_password %>
   
        <div id="main-content" class="main-content">
            <div class="row">
                <div class="small-12" style="padding:1em;background-color:#f08a24;color:white">
                    <p>Es necesario cambiar la contraseña.</p>
                </div>
            </div>
        </div>
    
<%end%>