<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <% 
      request ||= nil
      url = request.blank? ? '' : request.path_info
      if url.include?('organizations') || url.include?('admin') || url.include?('temp')%>
      <meta name="robots" content="none,nosnippet,noimageindex">
    <%end%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= content_for?(:title) ? t('site_title') + yield(:title) : t('site_title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Transparencia | Toma de decisiones"%>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= content_for :head %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "apple-touch-icon-200.png",
                   rel: "icon apple-touch-icon",
                   sizes: "200x200",
                   type: "image/png" %>
    <%= auto_discovery_link_tag :atom, visitors_path(format: :atom), id: 'atom_link' %>
    <%= auto_discovery_link_tag :rss, visitors_path(format: :rss), id: 'rss_link' %>
  </head>