<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <% 
     request ||= nil
     url = request.blank? ? '' : request.path_info
      if url.include?('organizations') || url.include?('admin') || url.include?('temp')%>
      <meta name="robots" content="none,nosnippet,noimageindex">
    <%end%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Admin</title>
    <%= stylesheet_link_tag    "admin" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "admin/admin", 'data-turbolinks-track' => true %>
    <%= auto_discovery_link_tag :atom, visitors_path(format: :atom), id: 'atom_link' %>
    <%= auto_discovery_link_tag :rss, visitors_path(format: :rss), id: 'rss_link' %>
    <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'dependencies/html5shiv.min' %>
      <%= javascript_include_tag 'dependencies/respond.min' %>
      <%= javascript_include_tag 'ie_lt9' %>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="" />
  </head>

  <body class="">

    <%= render 'layouts/header' %>
    <%= render  'layouts/admin_messages' %>
    <%= render  'layouts/lobby_renovation_date' %>
    <%= render  'layouts/change_password' %>
    <div id="main-content" class="main-content">
    <div class="row">
      <div class="small-12">
        <div class="box">
          <div class="row">
            <div class="small-12 large-3 columns">
              <%= render  'layouts/admin_sidebar' %>
            </div>
            <div class="small-12 large-9 large-ofsset-1 columns mb40">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
