<!DOCTYPE html>
<html lang="es">
  <%= render 'layouts/head' %>
  <body class="<%= yield (:body_class) %>">
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/admin_messages' %>
      <%= render 'shared/header_pages' %>
      <%= render 'layouts/google_analytics' %>

      <div id="main-content" class="main-content">
        <div class="row">
          <div class="box small-12 box columns">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
