<!DOCTYPE html>
<html lang="es">
<head>
  <title>Titúlo</title>
  <meta name="descripcion" content="Descripción">
  <meta charset="UTF-8">   
  <%= stylesheet_link_tag 'email', media: 'all' %>
</head>
<body class="body">
  <div class="top-bar">
    <%= image_tag 'logo-email.jpg', alt:'¡Madrid' %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div class="footer">
    <% if newsletter? %>
      <p><%= t('mailers.footer_newsletter') %></p>
    <% end %>
    <p><%= t('mailers.footer', year: Date.current.year) %></p>
  </div>
</body>
</html>
